In [1]:
import warnings
warnings.filterwarnings(action='ignore')

In [3]:
import pandas as pd

In [5]:
red_df = pd.read_csv('winequality-red.csv', sep = ';', header = 0, engine = 'python')

In [7]:
white_df = pd.read_csv('winequality-white.csv', sep = ';', header = 0, engine = 'python')

In [9]:
red_df.to_csv('winequality-red2.csv', index = False)

In [11]:
white_df.to_csv('winequality-white2.csv', index = False)

In [13]:
red_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [15]:
red_df.insert(0, column = 'type', value = 'red')

In [17]:
red_df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [19]:
red_df.shape

(1599, 13)

In [21]:
white_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [23]:
white_df.insert(0, column = 'type', value = 'white')

In [25]:
white_df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [27]:
white_df.shape

(4898, 13)

In [29]:
wine = pd.concat([red_df, white_df])

In [31]:
wine.shape

(6497, 13)

In [33]:
wine.to_csv('wine.csv', index = False)

In [35]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6497 entries, 0 to 4897
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   fixed acidity         6497 non-null   float64
 2   volatile acidity      6497 non-null   float64
 3   citric acid           6497 non-null   float64
 4   residual sugar        6497 non-null   float64
 5   chlorides             6497 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6497 non-null   float64
 10  sulphates             6497 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 710.6+ KB

In [37]:
wine.columns = wine.columns.str.replace(' ', '_')

In [39]:
wine.head()

,type,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [41]:
wine.describe()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [43]:
sorted(wine['quality'].unique())

[3, 4, 5, 6, 7, 8, 9]

In [45]:
wine.quality.value_counts()

quality
6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
Name: count, dtype: int64

In [47]:
wine[wine['quality'] == 9]

,type,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
774,white,9.1,0.27,0.45,10.6,0.035,28.0,124.0,0.99700,3.20,0.46,10.4,9
820,white,6.6,0.36,0.29,1.6,0.021,24.0,85.0,0.98965,3.41,0.61,12.4,9
827,white,7.4,0.24,0.36,2.0,0.031,27.0,139.0,0.99055,3.28,0.48,12.5,9
876,white,6.9,0.36,0.34,4.2,0.018,57.0,119.0,0.98980,3.28,0.36,12.7,9
1605,white,7.1,0.26,0.49,2.2,0.032,31.0,113.0,0.99030,3.37,0.42,12.9,9

In [49]:
wine.groupby('type')['quality'].describe()

        count      mean       std  min  25%  50%  75%  max
type
red    1599.0  5.636023  0.807569  3.0  5.0  6.0  6.0  8.0
white  4898.0  5.877909  0.885639  3.0  5.0  6.0  6.0  9.0

In [51]:
wine.groupby('type')['quality'].mean()

type
red      5.636023
white    5.877909
Name: quality, dtype: float64

In [53]:
wine.groupby('type')['quality'].std()

type
red      0.807569
white    0.885639
Name: quality, dtype: float64

In [55]:
wine.groupby('type')['quality'].agg(['mean', 'std'])

           mean       std
type
red    5.636023  0.807569
white  5.877909  0.885639

In [57]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\user\anaconda3\lib\site-packages (0.14.2)
Requirement already satisfied: numpy>=1.22.3 in c:\users\user\anaconda3\lib\site-packages (from statsmodels) (1.26.4)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\user\anaconda3\lib\site-packages (from statsmodels) (1.13.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\user\anaconda3\lib\site-packages (from statsmodels) (2.2.2)
Requirement already satisfied: patsy>=0.5.6 in c:\users\user\anaconda3\lib\site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in c:\users\user\appdata\roaming\python\python312\site-packages (from statsmodels) (24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2023.3)
Requirement already satisfied: six in c:\users\user\appdata\roaming\python\python312\site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)

In [58]:
from scipy import stats

In [59]:
from statsmodels.formula.api import ols, glm

In [60]:
red_wine_quality = wine.loc[wine['type'] == 'red', 'quality']

In [61]:
white_wine_quality = wine.loc[wine['type'] == 'white', 'quality']

In [62]:
stats.ttest_ind(red_wine_quality, white_wine_quality, equal_var = False)

TtestResult(statistic=-10.149363059143164, pvalue=8.168348870049682e-24, df=2950.750452166697)

In [63]:
Rformula = 'quality ~ fixed_acidity + volatile_acidity + citric_acid + \
            residual_sugar + chlorides+ free_sulfur_dioxide + \
            total_sulfur_dioxide + density + pH + sulphates + alcohol'

In [64]:
regression_result = ols(Rformula, data = wine).fit()

In [65]:
regression_result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                quality   R-squared:                       0.292
Model:                            OLS   Adj. R-squared:                  0.291
Method:                 Least Squares   F-statistic:                     243.3
Date:                Fri, 20 Sep 2024   Prob (F-statistic):               0.00
Time:                        16:08:20   Log-Likelihood:                -7215.5
No. Observations:                6497   AIC:                         1.445e+04
Df Residuals:                    6485   BIC:                         1.454e+04
Df Model:                          11
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept               55.7627     11.894      4.688      0.000      32.447      79.079
fixed_acidity            0.0677      0.016      4.346      0.000       0.037       0.098
volatile_acidity        -1.3279      0.077    -17.162      0.000      -1.480      -1.176
citric_acid             -0.1097      0.080     -1.377      0.168      -0.266       0.046
residual_sugar           0.0436      0.005      8.449      0.000       0.033       0.054
chlorides               -0.4837      0.333     -1.454      0.146      -1.136       0.168
free_sulfur_dioxide      0.0060      0.001      7.948      0.000       0.004       0.007
total_sulfur_dioxide    -0.0025      0.000     -8.969      0.000      -0.003      -0.002
density                -54.9669     12.137     -4.529      0.000     -78.760     -31.173
pH                       0.4393      0.090      4.861      0.000       0.262       0.616
sulphates                0.7683      0.076     10.092      0.000       0.619       0.917
alcohol                  0.2670      0.017     15.963      0.000       0.234       0.300
==============================================================================
Omnibus:                      144.075   Durbin-Watson:                   1.646
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              324.712
Skew:                          -0.006   Prob(JB):                     3.09e-71
Kurtosis:                       4.095   Cond. No.                     2.49e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.49e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [66]:
sample1 = wine[wine.columns.difference(['quality', 'type'])]

In [67]:
sample1.head(10)

,alcohol,chlorides,citric_acid,density,fixed_acidity,free_sulfur_dioxide,pH,residual_sugar,sulphates,total_sulfur_dioxide,volatile_acidity
0,9.4,0.076,0.00,0.9978,7.4,11.0,3.51,1.9,0.56,34.0,0.70
1,9.8,0.098,0.00,0.9968,7.8,25.0,3.20,2.6,0.68,67.0,0.88
2,9.8,0.092,0.04,0.9970,7.8,15.0,3.26,2.3,0.65,54.0,0.76
3,9.8,0.075,0.56,0.9980,11.2,17.0,3.16,1.9,0.58,60.0,0.28
4,9.4,0.076,0.00,0.9978,7.4,11.0,3.51,1.9,0.56,34.0,0.70
5,9.4,0.075,0.00,0.9978,7.4,13.0,3.51,1.8,0.56,40.0,0.66
6,9.4,0.069,0.06,0.9964,7.9,15.0,3.30,1.6,0.46,59.0,0.60
7,10.0,0.065,0.00,0.9946,7.3,15.0,3.39,1.2,0.47,21.0,0.65
8,9.5,0.073,0.02,0.9968,7.8,9.0,3.36,2.0,0.57,18.0,0.58
9,10.5,0.071,0.36,0.9978,7.5,17.0,3.35,6.1,0.80,102.0,0.50

In [68]:
sample1 = sample1[0:5][:]

In [69]:
sample1.head(10)

,alcohol,chlorides,citric_acid,density,fixed_acidity,free_sulfur_dioxide,pH,residual_sugar,sulphates,total_sulfur_dioxide,volatile_acidity
0,9.4,0.076,0.00,0.9978,7.4,11.0,3.51,1.9,0.56,34.0,0.70
1,9.8,0.098,0.00,0.9968,7.8,25.0,3.20,2.6,0.68,67.0,0.88
2,9.8,0.092,0.04,0.9970,7.8,15.0,3.26,2.3,0.65,54.0,0.76
3,9.8,0.075,0.56,0.9980,11.2,17.0,3.16,1.9,0.58,60.0,0.28
4,9.4,0.076,0.00,0.9978,7.4,11.0,3.51,1.9,0.56,34.0,0.70

In [70]:
sample1_predict = regression_result.predict(sample1)

In [71]:
sample1_predict

0    4.997607
1    4.924993
2    5.034663
3    5.680333
4    4.997607
dtype: float64

In [72]:
wine[0:5]['quality']

0    5
1    5
2    5
3    6
4    5
Name: quality, dtype: int64

In [73]:
data = {'fixed_acidity' : [8.5, 8.1], 'volatile_acidity': [0.8, 0.5],
        'citric_acid' : [0.3, 0.4], 'residual_sugar' : [6.1, 5.8], 'chlorides':[0.055, 0.04], 
        'free_sulfur_dioxide' : [30.0, 31.0], 'total_sulfur_dioxide' : [98.0, 99], 
        'density' : [0.996, 0.91], 'pH' : [3.25, 3.01], 'sulphates' : [0.4, 0.35], 
        'alcohol' : [9.0, 0.88]}

In [74]:
sample2 = pd.DataFrame(data, columns = sample1.columns)

In [75]:
sample2

,alcohol,chlorides,citric_acid,density,fixed_acidity,free_sulfur_dioxide,pH,residual_sugar,sulphates,total_sulfur_dioxide,volatile_acidity
0,9.00,0.055,0.3,0.996,8.5,30.0,3.25,6.1,0.40,98.0,0.8
1,0.88,0.040,0.4,0.910,8.1,31.0,3.01,5.8,0.35,99.0,0.5

In [76]:
sample2_predict = regression_result.predict(sample2)

In [77]:
sample2_predict

0    4.809094
1    7.582129
dtype: float64

In [108]:
import pandas as pd
from statsmodels.formula.api import ols

# 데이터 불러오기
auto = pd.read_csv('auto-mpg.csv', sep=',', header=0, engine='python')

# 독립 변수들(x)와 종속 변수(y) 설정
y = auto['mpg']  # 종속 변수
x = auto.drop(columns=['mpg'])  # 독립 변수들

# 회귀 모델을 위한 R-포뮬라 생성
# auto 데이터에서 mpg를 제외한 다른 칼럼들이 독립 변수가 됨
Rformula = 'mpg ~ ' + ' + '.join(x.columns)

# 선형 회귀 모델 적용
regression_result = ols(Rformula, data=auto).fit()

# 선형 회귀 결과 통계 요약 확인
print(regression_result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.993
Model:                            OLS   Adj. R-squared:                  0.930
Method:                 Least Squares   F-statistic:                     15.57
Date:                Fri, 20 Sep 2024   Prob (F-statistic):           6.08e-16
Time:                        16:49:14   Log-Likelihood:                -382.22
No. Observations:                 398   AIC:                             1486.
Df Residuals:                      37   BIC:                             2926.
Df Model:                         360
Covariance Type:            nonrobust
====================================================================================================================
                                                       coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------------
Intercept                                           16.8667     16.034      1.052      0.300     -15.620      49.354
horsepower[T.102]                                   -2.8126      2.147     -1.310      0.198      -7.163       1.538
horsepower[T.103]                                   -1.9842      1.958     -1.013      0.317      -5.951       1.983
horsepower[T.105]                                    1.4407      1.746      0.825      0.415      -2.096       4.978
horsepower[T.107]                                   -0.2337      3.175     -0.074      0.942      -6.668       6.200
horsepower[T.108]                                   -0.9946      1.809     -0.550      0.586      -4.660       2.670
horsepower[T.110]                                   -0.4001      1.757     -0.228      0.821      -3.960       3.160
horsepower[T.112]                                   -3.4666      3.109     -1.115      0.272      -9.766       2.833
horsepower[T.113]                                    0.1932      1.938      0.100      0.921      -3.733       4.120
horsepower[T.115]                                    2.3918      2.531      0.945      0.351      -2.737       7.521
horsepower[T.116]                                    0.0006      1.674      0.000      1.000      -3.392       3.393
horsepower[T.120]                                   -0.1841      3.566     -0.052      0.959      -7.410       7.041
horsepower[T.122]                                   -0.3452      1.822     -0.189      0.851      -4.036       3.346
horsepower[T.125]                                    0.9348      3.888      0.240      0.811      -6.943       8.813
horsepower[T.129]                                   -1.7127      4.029     -0.425      0.673      -9.877       6.451
horsepower[T.130]                                    2.2699      2.977      0.762      0.451      -3.762       8.302
horsepower[T.132]                                    3.3699      1.700      1.982      0.055      -0.075       6.814
horsepower[T.133]                                   -2.9403      2.263     -1.299      0.202      -7.526       1.645
horsepower[T.135]                                    0.8483      3.160      0.268      0.790      -5.555       7.252
horsepower[T.137]                                    0.9763      4.619      0.211      0.834      -8.383      10.335
horsepower[T.138]                                   -0.4990      3.200     -0.156      0.877      -6.982       5.984
horsepower[T.139]                                    0.2302      4.013      0.057      0.955      -7.901       8.362
horsepower[T.140]                                    2.1407      3.649      0.587      0.561      -5.253       9.534
horsepower[T.142]                                   -2.8965      5.440     -0.532      0.598     -13.918       8.125
horsepower[T.145]                                    0.7982      3.486      0.229      0.820      -6.264       7.861
horsepower[T.148]                                   -0.4780      2.941     -0.163      0.872      -6.437       5.481
horsepower[T.149]                                    0.0979      3.389      0.029      0.977      -6.769       6.964
horsepower[T.150]                                   -1.6287      3.481     -0.468      0.643      -8.682       5.425
horsepower[T.152]                                   -0.1815      4.883     -0.037      0.971     -10.075       9.712
horsepower[T.153]                                   -1.1892      3.760     -0.316      0.754      -8.807       6.428
horsepower[T.155]                                   -2.6864      8.467     -0.317      0.753     -19.842      14.469
horsepower[T.158]                                   -0.9675      2.657     -0.364      0.718      -6.351       4.416
horsepower[T.160]                                   -2.2683      4.494     -0.505      0.617     -11.374       6.837
horsepower[T.165]                                   -0.8230      4.097     -0.201      0.842      -9.125       7.479
horsepower[T.167]                                   -1.5268      3.870     -0.394      0.695      -9.369       6.315
horsepower[T.170]                                   -3.3322      5.338     -0.624      0.536     -14.147       7.483
horsepower[T.175]                                   -3.6285      5.862     -0.619      0.540     -15.506       8.249
horsepower[T.180]                                   -2.5699      5.648     -0.455      0.652     -14.013       8.873
horsepower[T.190]                                   -1.1229      5.028     -0.223      0.825     -11.311       9.065
horsepower[T.193]                                   -0.9440      3.951     -0.239      0.813      -8.950       7.062
horsepower[T.198]                                   -0.7260      4.036     -0.180      0.858      -8.904       7.452
horsepower[T.200]                                   -1.7437      3.715     -0.469      0.642      -9.270       5.783
horsepower[T.208]                                   -2.0894      3.748     -0.558      0.581      -9.683       5.504
horsepower[T.210]                                   -1.7352      3.717     -0.467      0.643      -9.266       5.796
horsepower[T.215]                                   -2.9972      6.128     -0.489      0.628     -15.414       9.419
horsepower[T.220]                                   -0.1173      5.555     -0.021      0.983     -11.372      11.137
horsepower[T.225]                                   -3.3600      6.291     -0.534      0.596     -16.108       9.388
horsepower[T.230]                                   -0.6056      3.561     -0.170      0.866      -7.820       6.609
horsepower[T.46]                                     4.0167      2.778      1.446      0.157      -1.612       9.645
horsepower[T.48]                                    16.1273      3.132      5.150      0.000       9.782      22.472
horsepower[T.49]                                    12.4965      4.047      3.088      0.004       4.297      20.696
horsepower[T.52]                                    10.6984      4.456      2.401      0.021       1.671      19.726
horsepower[T.53]                                     7.5264      3.920      1.920      0.063      -0.416      15.469
horsepower[T.54]                                     2.4417      2.214      1.103      0.277      -2.044       6.928
horsepower[T.58]                                     7.9613      2.229      3.571      0.001       3.444      12.479
horsepower[T.60]                                     8.5483      4.864      1.758      0.087      -1.306      18.403
horsepower[T.61]                                     7.9770      4.052      1.969      0.057      -0.234      16.188
horsepower[T.62]                                     4.3488      2.024      2.148      0.038       0.247       8.451
horsepower[T.63]                                     8.0100      4.067      1.970      0.056      -0.230      16.250
horsepower[T.64]                                     5.7030      3.486      1.636      0.110      -1.361      12.767
horsepower[T.65]                                     9.3552      2.431      3.849      0.000       4.430      14.280
horsepower[T.66]                                     4.1865      3.401      1.231      0.226      -2.704      11.077
horsepower[T.67]                                     7.3853      3.177      2.325      0.026       0.948      13.823
horsepower[T.68]                                     6.6726      3.990      1.672      0.103      -1.413      14.758
horsepower[T.69]                                     6.3962      2.269      2.818      0.008       1.798      10.995
horsepower[T.70]                                     7.2988      2.903      2.515      0.016       1.418      13.180
horsepower[T.71]                                     6.8538      2.883      2.378      0.023       1.013      12.695
horsepower[T.72]                                     1.3148      2.245      0.586      0.562      -3.234       5.864
horsepower[T.74]                                     4.7514      3.641      1.305      0.200      -2.626      12.129
horsepower[T.75]                                     4.2477      2.152      1.974      0.056      -0.113       8.609
horsepower[T.76]                                    18.6787      4.189      4.459      0.000      10.190      27.167
horsepower[T.77]                                     2.4204      2.001      1.209      0.234      -1.635       6.476
horsepower[T.78]                                     7.5898      2.935      2.586      0.014       1.643      13.537
horsepower[T.79]                                     3.4733      3.229      1.076      0.289      -3.069      10.016
horsepower[T.80]                                     3.9236      3.303      1.188      0.243      -2.770      10.617
horsepower[T.81]                                     3.3943      2.782      1.220      0.230      -2.243       9.032
horsepower[T.82]                                     2.8652      3.357      0.853      0.399      -3.937       9.668
horsepower[T.83]                                     1.2057      3.186      0.378      0.707      -5.250       7.661
horsepower[T.84]                                     0.5556      4.319      0.129      0.898      -8.196       9.308
horsepower[T.85]                                     1.0181      3.086      0.330      0.743      -5.236       7.272
horsepower[T.86]                                    -0.8296      4.708     -0.176      0.861     -10.368       8.709
horsepower[T.87]                                     3.0855      3.769      0.819      0.418      -4.552      10.723
horsepower[T.88]                                    -0.9894      2.729     -0.363      0.719      -6.520       4.541
horsepower[T.89]                                    -0.1221      3.252     -0.038      0.970      -6.712       6.467
horsepower[T.90]                                     3.3356      1.495      2.232      0.032       0.307       6.364
horsepower[T.91]                                     1.3462      4.703      0.286      0.776      -8.183      10.875
horsepower[T.92]                                     0.7498      3.533      0.212      0.833      -6.410       7.909
horsepower[T.93]                                     2.1413      4.154      0.516      0.609      -6.275      10.558
horsepower[T.94]                                    -0.8937      1.358     -0.658      0.515      -3.645       1.858
horsepower[T.95]                                     4.3223      3.742      1.155      0.255      -3.260      11.904
horsepower[T.96]                                     1.5395      4.195      0.367      0.716      -6.960      10.039
horsepower[T.97]                                    -1.5145      2.281     -0.664      0.511      -6.136       3.107
horsepower[T.98]                                    -1.1300      3.133     -0.361      0.720      -7.477       5.217
horsepower[T.?]                                      3.9767      3.190      1.247      0.220      -2.487      10.440
car_name[T.amc ambassador dpl]                      -0.7230      2.472     -0.292      0.772      -5.731       4.285
car_name[T.amc ambassador sst]                       1.7553      6.037      0.291      0.773     -10.476      13.987
car_name[T.amc concord]                             -3.0196      5.896     -0.512      0.612     -14.966       8.927
car_name[T.amc concord d/l]                         -2.6336      6.551     -0.402      0.690     -15.907      10.640
car_name[T.amc concord dl]                          -4.8587      6.641     -0.732      0.469     -18.315       8.598
car_name[T.amc concord dl 6]                        -2.4361      5.966     -0.408      0.685     -14.524       9.652
car_name[T.amc gremlin]                             -0.6567      5.627     -0.117      0.908     -12.058      10.745
car_name[T.amc hornet]                               0.3463      5.586      0.062      0.951     -10.972      11.665
car_name[T.amc hornet sportabout (sw)]              -0.8289      5.972     -0.139      0.890     -12.929      11.271
car_name[T.amc matador]                             -0.9819      5.690     -0.173      0.864     -12.512      10.548
car_name[T.amc matador (sw)]                         0.6990      6.178      0.113      0.911     -11.819      13.217
car_name[T.amc pacer]                               -2.9748      5.997     -0.496      0.623     -15.126       9.176
car_name[T.amc pacer d/l]                           -4.7057      5.951     -0.791      0.434     -16.763       7.351
car_name[T.amc rebel sst]                            2.0429      5.954      0.343      0.733     -10.022      14.108
car_name[T.amc spirit dl]                           -4.0463      6.850     -0.591      0.558     -17.926       9.834
car_name[T.audi 100 ls]                             -3.7021      3.938     -0.940      0.353     -11.682       4.278
car_name[T.audi 100ls]                              -7.2298      4.201     -1.721      0.094     -15.741       1.282
car_name[T.audi 4000]                               -0.7206      4.065     -0.177      0.860      -8.957       7.516
car_name[T.audi 5000]                               -1.9842      1.958     -1.013      0.317      -5.951       1.983
car_name[T.audi 5000s (diesel)]                      6.8967      4.506      1.531      0.134      -2.233      16.026
car_name[T.audi fox]                                 3.3273      4.317      0.771      0.446      -5.420      12.074
car_name[T.bmw 2002]                                 0.1932      1.938      0.100      0.921      -3.733       4.120
car_name[T.bmw 320i]                                -6.4085      4.017     -1.595      0.119     -14.548       1.731
car_name[T.buick century]                            1.1906      6.028      0.198      0.845     -11.024      13.405
car_name[T.buick century 350]                        1.2945      3.079      0.420      0.677      -4.943       7.532
car_name[T.buick century limited]                    2.5839      6.299      0.410      0.684     -10.178      15.346
car_name[T.buick century luxus (sw)]                -0.1329      6.618     -0.020      0.984     -13.542      13.276
car_name[T.buick century special]                   -1.7188      6.271     -0.274      0.786     -14.424      10.987
car_name[T.buick electra 225 custom]                 0.1727      4.811      0.036      0.972      -9.575       9.920
car_name[T.buick estate wagon (sw)]                  3.2731      5.268      0.621      0.538      -7.401      13.947
car_name[T.buick lesabre custom]                     1.0001      5.728      0.175      0.862     -10.607      12.607
car_name[T.buick opel isuzu deluxe]                 -0.8099      6.690     -0.121      0.904     -14.365      12.745
car_name[T.buick regal sport coupe (turbo)]         -4.2940      7.097     -0.605      0.549     -18.673      10.085
car_name[T.buick skyhawk]                            1.2104      5.958      0.203      0.840     -10.862      13.283
car_name[T.buick skylark]                           -0.5586      6.306     -0.089      0.930     -13.335      12.218
car_name[T.buick skylark 320]                        0.6438      6.596      0.098      0.923     -12.720      14.008
car_name[T.buick skylark limited]                   -1.0717      6.304     -0.170      0.866     -13.846      11.702
car_name[T.cadillac eldorado]                        7.9186      3.020      2.622      0.013       1.799      14.038
car_name[T.cadillac seville]                         1.7143      2.236      0.767      0.448      -2.816       6.245
car_name[T.capri ii]                                -1.7438      3.340     -0.522      0.605      -8.511       5.023
car_name[T.chevroelt chevelle malibu]               -2.7872      6.627     -0.421      0.677     -16.216      10.641
car_name[T.chevrolet bel air]                       -1.2612      5.763     -0.219      0.828     -12.938      10.416
car_name[T.chevrolet camaro]                        -2.7384      6.416     -0.427      0.672     -15.738      10.261
car_name[T.chevrolet caprice classic]               -1.3203      5.363     -0.246      0.807     -12.188       9.547
car_name[T.chevrolet cavalier]                       3.7851      6.841      0.553      0.583     -10.077      17.647
car_name[T.chevrolet cavalier 2-door]                8.5875      6.762      1.270      0.212      -5.113      22.288
car_name[T.chevrolet cavalier wagon]                 1.9743      6.847      0.288      0.775     -11.899      15.848
car_name[T.chevrolet chevelle concours (sw)]        -4.2499      6.582     -0.646      0.522     -17.587       9.087
car_name[T.chevrolet chevelle malibu]               -0.3758      5.798     -0.065      0.949     -12.124      11.373
car_name[T.chevrolet chevelle malibu classic]       -2.0999      6.391     -0.329      0.744     -15.049      10.849
car_name[T.chevrolet chevette]                      -2.8575      6.096     -0.469      0.642     -15.210       9.495
car_name[T.chevrolet citation]                      -0.8004      6.012     -0.133      0.895     -12.981      11.381
car_name[T.chevrolet concours]                      -1.7794      6.014     -0.296      0.769     -13.965      10.407
car_name[T.chevrolet impala]                        -1.2624      6.700     -0.188      0.852     -14.839      12.314
car_name[T.chevrolet malibu]                        -3.2002      5.250     -0.610      0.546     -13.838       7.438
car_name[T.chevrolet malibu classic (sw)]            0.6854      2.932      0.234      0.816      -5.256       6.627
car_name[T.chevrolet monte carlo]                    0.8102      5.844      0.139      0.890     -11.031      12.651
car_name[T.chevrolet monte carlo landau]             0.5992      4.167      0.144      0.886      -7.844       9.043
car_name[T.chevrolet monte carlo s]                 -1.1255      5.460     -0.206      0.838     -12.188       9.937
car_name[T.chevrolet monza 2+2]                      3.2679      6.224      0.525      0.603      -9.342      15.878
car_name[T.chevrolet nova]                          -1.9079      5.842     -0.327      0.746     -13.746       9.930
car_name[T.chevrolet nova custom]                   -0.7141      5.960     -0.120      0.905     -12.790      11.362
car_name[T.chevrolet vega]                          -2.7110      5.990     -0.453      0.653     -14.847       9.425
car_name[T.chevrolet vega (sw)]                      0.0212      6.362      0.003      0.997     -12.869      12.911
car_name[T.chevrolet vega 2300]                      1.2624      6.344      0.199      0.843     -11.592      14.117
car_name[T.chevrolet woody]                         -4.9703      7.723     -0.644      0.524     -20.619      10.678
car_name[T.chevy c10]                               -5.1118      5.386     -0.949      0.349     -16.025       5.801

In [116]:
#auto - mpq 분석

from scipy import stats
from statsmodels.formula.api import ols, glm

auto = pd.read_csv('auto-mpg.csv', sep = ',', header = 0, engine = 'python')

# '?' 값을 NaN으로 변환한 후, 결측치 처리
auto['horsepower'] = pd.to_numeric(auto['horsepower'], errors='coerce')
auto.dropna(inplace=True)

x = auto.drop(columns = ['mpg','car_name'])
# print(x)

# 회귀식을 위한 R-포뮬라 생성
Rformula = 'mpg ~ cylinders + displacement + horsepower + weight + acceleration + model_year + origin'

# 선형 회귀 모델 (OLS) 적용
ols_res = ols(Rformula, data = auto).fit()

# 선형 회귀 관련 통계값 확인
print(ols_res.summary())

# 'quality'와 'type'을 제외한 독립 변수 추출
sample1 = auto[auto.columns.drop(['mpg','car_name'])]

# 샘플 데이터 5행 추출
sample1 = sample1.head(5)

# 결과 예측 (독립 변수의 열 이름이 일치해야 함)
sample1_predict = ols_res.predict(sample1)

# 예측 결과 출력
print(sample1_predict)

                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.821
Model:                            OLS   Adj. R-squared:                  0.818
Method:                 Least Squares   F-statistic:                     252.4
Date:                Fri, 20 Sep 2024   Prob (F-statistic):          2.04e-139
Time:                        18:09:50   Log-Likelihood:                -1023.5
No. Observations:                 392   AIC:                             2063.
Df Residuals:                     384   BIC:                             2095.
Df Model:                           7
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept      -17.2184      4.644     -3.707      0.000     -26.350      -8.087
cylinders       -0.4934      0.323     -1.526      0.128      -1.129       0.142
displacement     0.0199      0.008      2.647      0.008       0.005       0.035
horsepower      -0.0170      0.014     -1.230      0.220      -0.044       0.010
weight          -0.0065      0.001     -9.929      0.000      -0.008      -0.005
acceleration     0.0806      0.099      0.815      0.415      -0.114       0.275
model_year       0.7508      0.051     14.729      0.000       0.651       0.851
origin           1.4261      0.278      5.127      0.000       0.879       1.973
==============================================================================
Omnibus:                       31.906   Durbin-Watson:                   1.309
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               53.100
Skew:                           0.529   Prob(JB):                     2.95e-12
Kurtosis:                       4.460   Cond. No.                     8.59e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.59e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
0    15.000959
1    13.999299
2    15.240447
3    15.061906
4    14.967178
dtype: float64

In [ ]:
import pandas as pd
from scipy import stats
from statsmodels.formula.api import ols

# 데이터 불러오기
red_df = pd.read_csv('winequality-red.csv', sep=';', header=0, engine='python')
white_df = pd.read_csv('winequality-white.csv', sep=';', header=0, engine='python')

# 레드 와인과 화이트 와인 데이터프레임에 각각 'type' 열 추가
red_df['type'] = 'red'
white_df['type'] = 'white'

# 데이터프레임 병합
wine = pd.concat([red_df, white_df])

# 레드 와인의 quality 값만 찾아서 저장
red_wine_quality = wine.loc[wine['type'] == 'red', 'quality']
white_wine_quality = wine.loc[wine['type'] == 'white', 'quality']

# stats.ttest_ind를 이용해 t검정 실시하고 두 그룹간 차이 확인
t_stat, p_value = stats.ttest_ind(red_wine_quality, white_wine_quality, equal_var=False)
print(f"T-statistic: {t_stat}, P-value: {p_value}")

# 회귀식을 위한 R-포뮬라 생성
Rformula = 'quality ~ fixed_acidity + volatile_acidity + citric_acid + \
            residual_sugar + chlorides + free_sulfur_dioxide + \
            total_sulfur_dioxide + density + pH + sulphates + alcohol'

# 선형 회귀 모델 (OLS) 적용
regression_result = ols(Rformula, data=wine).fit()

# 선형 회귀 관련 통계값 확인
print(regression_result.summary())

# 'quality'와 'type'을 제외한 독립 변수 추출
sample1 = wine[wine.columns.difference(['quality', 'type'])]

# 샘플 데이터 5행 추출
sample1 = sample1.head(5)

# 결과 예측 (독립 변수의 열 이름이 일치해야 함)
sample1_predict = regression_result.predict(sample1)

# 예측 결과 출력
print(sample1_predict)