In [32]:
import pandas as pd

# 현재 행정구역으로 업데이트(2024.09.24 기준)
# 세종특별자치시 에는 '군구'없이 '행정동'만 가지고 있습니다.
# '강원도'의 정식 명칭은 '강원특별자치도'입니다.
# '전라북도'의 정식 명칭은 '전북특별자치도'입니다.

# 행정구역 딕셔너리
Korea_district = {
    '서울특별시': ['종로구', '중구', '용산구', '성동구', '광진구', 
                  '동대문구', '중랑구', '성북구', '강북구', '도봉구', 
                  '노원구', '은평구', '서대문구', '마포구', '양천구', 
                  '강서구', '구로구', '금천구', '영등포구', '동작구', 
                  '관악구', '서초구', '강남구', '송파구', '강동구'],
    
    '부산광역시': ['중구', '서구', '동구', '영도구', '부산진구', 
                  '동래구', '남구', '북구', '해운대구', '사하구', 
                  '금정구', '강서구', '연제구', '수영구', '사상구', '기장군'],

    '대구광역시': ['중구', '동구', '서구', '남구', '북구', '수성구', '달서구', '달성군', '군위군'],

    '인천광역시': ['중구', '동구', '미추홀구', '연수구', '남동구', 
                  '부평구', '계양구', '서구', '강화군', '옹진군'],
    
    '광주광역시': ['동구', '서구', '남구', '북구', '광산구'],

    '대전광역시': ['동구', '중구', '서구', '유성구', '대덕구'],

    '울산광역시': ['중구', '남구', '동구', '북구', '울주군'],

    '세종특별자치시': ['세종시'],

    '경기도': ['수원시', '용인시', '고양시', '화성시', '성남시', 
              '부천시', '남양주시', '안산시', '평택시', '안양시', 
              '시흥시', '파주시', '김포시', '의정부시', '광주시',
              '하남시', '광명시', '군포시', '양주시', '오산시',
              '이천시', '안성시', '구리시', '의왕시', '포천시',
              '양평군', '여주시', '동두천시', '과천시',  '가평군', 
              '연천군'],

    '강원도': ['춘천시', '원주시', '강릉시', '동해시', '태백시', 
              '속초시', '삼척시', '홍천군', '횡성군', '영월군', 
              '평창군', '정선군', '철원군', '화천군', '양구군', 
              '인제군', '고성군', '양양군'],

    '충청북도': ['청주시', '충주시', '제천시', '보은군', '옥천군', 
               '영동군', '증평군', '진천군', '괴산군', '음성군', 
               '단양군'],

    '충청남도': ['천안시', '공주시', '보령시', '아산시', '서산시', 
               '논산시', '계룡시', '당진시', '금산군', '부여군', 
               '서천군', '청양군', '홍성군', '예산군', '태안군'],

    '전라북도': ['전주시', '군산시', '익산시', '정읍시', '남원시', 
               '김제시', '완주군', '진안군', '무주군', '장수군', 
               '임실군', '순창군', '고창군', '부안군'],

    '전라남도': ['목포시', '여수시', '순천시', '나주시', '광양시', 
               '담양군', '곡성군', '구례군', '고흥군', '보성군', 
               '화순군', '장흥군', '강진군', '해남군', '영암군', 
               '무안군', '함평군', '영광군', '장성군', '완도군', 
               '진도군', '신안군'],

    '경상북도': ['포항시', '경주시', '김천시', '안동시', '구미시', 
               '영주시', '영천시', '상주시', '문경시', '경산시', 
               '의성군', '청송군', '영양군', '영덕군', '청도군', 
               '고령군', '성주군', '칠곡군', '예천군', '봉화군', 
               '울진군', '울릉군'],

    '경상남도': ['창원시', '진주시', '통영시', '사천시', '김해시', 
               '밀양시', '거제시', '양산시', '의령군', '함안군', 
               '창녕군', '고성군', '남해군', '하동군', '산청군', 
               '함양군', '거창군', '합천군'],

    '제주특별자치도': ['제주시', '서귀포시']
}

df = pd.read_csv('hollys_utf-8-sig.csv')
dfl = df[['지역']]
dfl

addr = pd.DataFrame(df['지역'].apply(lambda v: v.split()[:2]).tolist(),
                    columns=('시도', '군구'))

addr

     시도    군구
0    경기   성남시
1    인천   부평구
2    대구    서구
3    인천    중구
4    부산    중구
..   ..   ...
490  서울   마포구
491  부산  해운대구
492  서울   관악구
493  서울    중구
494  서울  서대문구

[495 rows x 2 columns]

In [90]:
df

,지역,매장명,주소,전화번호
0,경기 성남시 분당구,분당미금점2,"경기도 성남시 분당구 미금일로90번길 24 (구미동) 구미동 35-3, B1F~1F",031-713-7739
1,인천 부평구,인천굴포천역점,"인천광역시 부평구 충선로209번길 49 (삼산동, 삼산노블시티프라자) 삼산동 463...",070-4400-4664
2,대구 서구,대구팔달교DT점,대구광역시 서구 팔달로 34,053-354-1212
3,인천 중구,인천공항교통센터점,"인천광역시 중구 공항로 272 (운서동, 인천공항) 인천국제공항 제1여객터미널 지하...",032-743-3718
4,부산 중구,한국선원센터점,"부산광역시 중구 충장대로9번길 66 (중앙동4가, 한국선원센터) (중앙동4가 74-...",070-4070-7506
...,...,...,...,...
490,서울 마포구,합정역점,서울특별시 마포구 양화로 36 (합정동 374-1) 할리스,02-6204-1234
491,부산 해운대구,부산달맞이점,"부산광역시 해운대구 달맞이길 199, 2~3층 (중동 1488-14) 할리스",051-731-3410
492,서울 관악구,신림점,서울특별시 관악구 신림로 353-1,02-877-0019
493,서울 중구,태평로점,"서울특별시 중구 세종대로 64, 해남빌딩 1층 (태평로2가 70-5) 할리스",02-755-7795
494,서울 서대문구,신촌점,서울특별시 서대문구 연세로 34 (창천동 31-12) 할리스,02-393-2004

In [104]:
import pandas as pd

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Now when you print, the entire column will be displayedprint(df['Address'])

In [110]:
df['주소2'] = df['주소'].apply(lambda x: x.split(',')[0])
df.head()
df['주소3'] = df['주소'].apply(lambda x: x.split('(')[0])
df.head()
df['주소3'][:]

0                               경기도 성남시 분당구 미금일로90번길 24
1                                 인천광역시 부평구 충선로209번길 49
2                                        대구광역시 서구 팔달로 34
3                                      인천광역시 중구 공항로 272
4                                   부산광역시 중구 충장대로9번길 66
5                        제주특별자치도 제주시 애월읍 천덕로 238-1 다동 1층
6                                     대구광역시 달서구 장기로 268
7                                      부산광역시 연제구 반송로 89
8                                      경상북도 김천시 혁신로 246
9                               경기도 안양시 동안구 관평로170번길 43
10                                   인천광역시 남동구 비류대로 622
11                                    경상북도 구미시 구미중앙로 44
12                                  서울특별시 성동구 왕십리광장로 17
13                                   울산광역시 북구 동해안로 1544
14                                부산광역시 부산진구 서면로68번길 52
15                             강원특별자치도 강릉시 창해로14번길 34-1
16                                    경상북도 경주시 산업로 4510
17                         전라북도 군산시 수송북로 22 수송동 831-1,1층
18                                    광주광역시 북구 북문대로 184
19                                     경기도 이천시 구만리로 107
20                                  경기도 구리시 경춘로227번길 14
21                                 서울특별시 성동구 왕십리로 275-1
22                                    서울특별시 송파구 오금로 513
23                               경상북도 경주시 양남면 동해안로 486 .
24                              충청남도 홍성군 은하면 금국리 275-2 .
25                            충청남도 홍성군 은하면 서해안고속도로 220 .
26                                 서울특별시 서초구 서초대로38길 12
27                              울산광역시 울주군 삼남읍 도호1길 38 1층
28                                     부산광역시 사상구 광장로 22
29                             인천광역시 연수구 국제항만대로326번길 57
30                                  경기도 성남시 분당구 내정로 170
31                                       경기도 하남시 덕풍북로 2
32                대전광역시 중구 계룡로 876 메종드메디컬빌딩 104호, 202호 .
33                               충청남도 계룡시 신도안면 신도안1길 43
34                                    대전광역시 서구 둔산로 32-13
35                                   경상북도 구미시 금오대로 320 .
36                                  경기도 고양시 덕양구 화신로 254
37                                      부산광역시 중구 광복로 70
38                                경기도 과천시 과천대로7가길 20,1층
39                           경기도 양평군 양서면 양수로118번길 29 할리스
40                       전라북도 완주군 삼례읍 신기길 5-3 수계리 1212-4
41                                  서울특별시 송파구 올림픽로12길 8
42                    경기 화성시 역골중앙로 115 1층 남양읍 남양리 2279-2
43                                       경기도 여주시 향교로 17
44                                    서울특별시 중랑구 망우로 210
45                              경기도 성남시 분당구 구미로173번길 82
46                서울 광진구 구의강변로 64, 구의아크로리버 1층 구의동 589-10
47                                    대구 수성구 중동 322-14 .
48                            경기 오산시 궐리사로 34 1층 궐동 670-1
49                      서울특별시 양천구 남부순환로58길 37 신월동 205-36
50                                      경기도 오산시 오산로 195
51                                 서울특별시 용산구 한강대로23길 55
52                                    서울특별시 강서구 등촌로 229
53                                    부산광역시 사상구 사상로 201
54                                강원특별자치도 춘천시 서부대성로 229
55                                인천광역시 연수구 해돋이로152번길 9
56                                     전라남도 순천시 충효로 109
57                                 경상남도 진주시 에나로128번길 24
58                                 충청남도 논산시 대학로65번길 6-5
59                                    서울특별시 구로구 경인로 224
60                                      경기도 부천시 부일로 448
61                                 경기도 화성시 병점동로 105 1,2층
62                                  전라북도 군산시 백토로 284-35
63                                  서울특별시 송파구 석촌호수로 130
64                                     경상북도 구미시 송정대로 54
65                    경기도 화성시 향남읍 향남로 306 방축리294,295-2번지
66                                    서울특별시 강서구 강서로 357
67                                    서울특별시 양천구 목동서로 57
68                                    인천광역시 부평구 부평대로 37
69                                 서울특별시 은평구 북한산로 248-8
70                                      울산광역시 남구 삼산로 60
71                      울산광역시 중구 만남의거리 33, 1F 성남동 256-16
72                                    경상북도 구미시 박정희로 259
73                                     서울특별시 구로구 새말로 97
74                              제주특별자치도 제주시 연북로 756 1~2층
75                                      서울특별시 중구 통일로 92
76                                   서울특별시 송파구 올림픽로 424
77                                   서울특별시 강동구 길동 458 1층
78                                     울산광역시 북구 신기17길 3
79                                   서울특별시 양천구 목동동로 189
80                                     서울특별시 마포구 신촌로 88
81                                울산광역시 중구 태화강국가정원길 201
82                                    서울특별시 노원구 노해로 488
83                               경기도 남양주시 다산중앙로82번안길 28
84                                  경기도 고양시 일산동구 동국로 32
85                                충청북도 청주시 청원구 율봉로 150 .
86                               전라북도 전주시 덕진구 덕진광장로12 1층
87                                서울특별시 금천구 가산디지털1로 146
88                                   경상남도 진주시 초북로20번길 5
89                                강원도 원주시 일산로 20 장례식장 1층
90                     강원도 원주시 일산로 20 원주세브란스기독병원 외래센터 1층
91                                충청남도 천안시 동남구 순천향6길 31
92                                충청남도 천안시 동남구 순천향6길 31
93                             충청남도 공주시 탄천면 논산천안고속도로 27
94                               경기도 의정부시 신흥로232번길 5-31,
95                                  제주특별자치도 제주시 중앙로 302
96                                    서울특별시 마포구 동교로 233
97                         경기 고양시 덕양구 대덕산2길 6 덕은동 378-22
98                 서울특별시 강남구 테헤란로 301 역삼동 701-02 삼정빌딩 1층
99                        경기도 수원시 영통구 청명남로 10 영통동 1000-1
100                   경기 고양시 덕양구 권율대로 690 201동 108호~111호
101                             서울특별시 용산구 이태원로 180 2층~3층
102                                   서울특별시 양천구 오목로 344
103                         대구 중구 국채보상로 547 MMC 만경관 4층 .
104                         전라남도 순천시 해룡면 향매로 67 신대리 1978
105                         서울특별시 금천구 시흥대로 225 시흥동 994-9
106     전라북도 전주시 완산구 쑥고개로 351, 1층 101호~102호 효자동2가 1326-4
107                              제주특별자치도 제주시 도두일동 1686 .
108                               부산광역시 북구 금곡대로285번길 13
109                                   서울특별시 서초구 방배로 107
110                            경기도 고양시 덕양구 향기3로 9, 101호
111                                      광주광역시 북구 서방로 2
112                                 전라북도 전주시 완산구 은행로 16
113                            강원도 홍천군 화촌면 서울양양고속도로 83 .
114                    부산 부산진구 시민공원로 73, 푸드코트피크닉 범전동 200
115                               충청남도 홍성군 홍북읍 신경리 553 .
116                경기도 성남시 중원구 성남대로1148번길 8 1층, 성남동 3453
117                                  서울특별시 강남구 강남대로 422
118                                   서울특별시 용산구 청파로 276
119                                     경상남도 김해시 활천로 44
120                   서울특별시 서대문구 홍제내길 52,1~2층 홍제동 361-49
121                             경기도 고양시 일산동구 무궁화로 32-34
122                  부산광역시 기장군 일광읍 해빛6로 43-20 삼성리 840-12
123                                    대전광역시 유성구 대학로 84
124                         서울특별시 종로구 종로 60-1 종로2가 102-3
125                                 부산광역시 사하구 낙동남로 1413
126              경기도 광명시 일직로 43 일직동 514 지하2층 G249, G250호
127                                     경기도 이천시 어재연로 35
128                                    경기도 시흥시 능곡번영길 25
129                            경기도 평택시 칠괴길 84 칠괴동 492 1층
130                     경기도 평택시 경기대로 1371,102호 서정동 814-1
131                          서울특별시 동작구 장승배기로11가길 11, 1층
132               경기도 하남시 아리수로 570,1~2층 망월동 미사효성해링턴타워더퍼스
133                                    경상남도 김해시 인제로 168
134              전남 순천시 순광로 221, 순천성가롤로병원 별관 2층 조례동 1742
135                        부산광역시 부산진구 엄광로 176 가야동, 동의대학교
136                     경기 군포시 엘에스로 143 1층 1008호 금정동 916
137                                    울산광역시 남구 삼산로 283
138                          충남 공주시 반포면 동학사2로 133 1,2층 .
139                                서울특별시 서대문구 거북골로 41-1
140                                     경기도 부천시 조마루로 170
141                              전라북도 전주시 완산구 전주객사3길 67
142                                 충청남도 천안시 동남구 만남로 26
143                         경기도 평택시 삼성로 144 고덕면 여염리 1648
144                                충청남도 아산시 배방읍 희망로 100
145                                     부산광역시 서구 보수대로 9
146                           울산광역시 울주군 청량읍 율리영해1길 46 1층
147                         경상남도 창원시 마산회원구 내서읍 광려천동로 28
148                                경상남도 창원시 진해구 조천북로 76
149                                    서울특별시 동작구 흑석로 77
150                    경기도 고양시 덕양구 권율대로 896-19 101,201호
151                           경기도 부천시 장말로 376  심곡동 355-1
152                                제주특별자치도 제주시  오남로 166
153                   전라북도 군산시 옥도면 선유북길 125-1 선유도리 213-3
154                                 경기도 고양시 덕양구 삼송로 222
155                                   서울특별시 종로구 통일로 230
156                              전라북도 익산시 선화로3길 16-10 1층
157         경기도 고양시 일산서구 중앙로 1493 ,상가동 1층 1001-1, 1001-2
158                                    서울특별시 종로구 성균관로 6
159                                   대전광역시 서구 관저동로 158
160                                  대전 유성구 온천로 45  1,2층
161                                     경기도 시흥시 오이도로 21
162                             경상남도 거제시 장목면 거가대로 1068 .
163                                 부산광역시 강서구 거가대로 2571
164                                   서울특별시 노원구 화랑로 453
165                경상남도 창원시 마산합포구 구산면 해양관광로 1872-50 2~3층
166                               충청북도 옥천군 옥천읍 송신길 172 .
167                          경기도 화성시 우정읍 쌍봉로 76 1층, 103호
168                   서울특별시 구로구 디지털로31길 12  1층 105,106호
169                             경기도 안성시 서운면 평택제천고속도로 41
170                                   전라남도 나주시 배멧3길 5-4
171                          서울특별시 종로구  청계천로 81 1,2,3,4층
172                            충청남도 공주시 정안면 논산천안고속도로 58
173                            인천광역시 연수구 인천타워대로132번길 34
174          경기도 남양주시 진접읍 해밀예당1로 8-12 가동 1~2층, 연평리 110-1
175                                 서울특별시 송파구 양재대로72길 5
176                                 서울특별시 강남구 삼성로119길 8
177                             경기도 김포시 김포한강11로255번길 15
178                                    울산광역시 남구 화합로 185
179                               서울특별시 강동구 동남로82길 77-1
180                                     세종특별자치시 금송로 589
181                                   서울특별시 중구  세종대로 91
182                            경기도 김포시 김포한강10로133번길 127
183                                      대구광역시 동구 단산길 4
184                                서울특별시 영등포구 여의대방로 145
185                           충청북도 청주시 서원구 1순환로 892,1,2층
186                              경기도 평택시 추담로 30 A동 1~2층
187               경기도 평택시 지산로 10, 1층 지산동 808-4, 101,102호
188                    서울특별시 강북구 도봉로 203, 1-2층 미아동 209-2
189                                경상북도 성주군 성주읍 성밖숲길 7 .
190                                   강원도 속초시 영랑해안길 205
191                                     울산광역시 남구 번영로 82
192                          인천광역시 연수구 신송로 168 송도동 20-13
193                                    인천광역시 서구 서곶로 788
194                                    경기도 시흥시 은계번영길 13
195                                   서울특별시 관악구 신림로 313
196                   대구광역시 수성구 들안로 326 1,2층 수성동3가 254-2
197                               인천광역시 서구 서곶로301번길 7-1
198                                 부산광역시 수영구 광안해변로 175
199                                    서울특별시 동작구 알마타길 6
200                            경기도 남양주시 다산중앙로20번길 10-44
201                                 인천광역시 부평구 경원대로 1277
202                                  서울특별시 강남구 강남대로 520
203                              대전광역시 유성구 엑스포로123번길 55
204                          서울특별시 마포구 어울마당로 76-1, 2~4층
205                                  부산광역시 해운대구 센텀2로 24
206                      경상남도 창원시 성산구 삼귀로 189 귀곡동 723-21
207                                     경기도 의정부시 행복로 28
208                                    강원도 속초시 청초호반로 75
209                                경기도 안산시 단원구 광덕4로 234
210                                    경기도 오산시 성호대로 124
211                            충청남도 공주시 정안면 논산천안고속도로 57
212                     충북 청주시 흥덕구 2순환로 1233  청주NC백화점 8층
213                               서울특별시 노원구 동일로239가길 22
214                                   서울특별시 중랑구 망우로 470
215                     서울특별시 구로구 구로중앙로28길 52  구로동 109-1
216                                강원도 양양군 강현면 해맞이길 18 .
217                                  경기도 안산시 상록구 중보로 31
218                                전라북도 익산시 하나로10길 70-1
219                      경기도 양주시 부흥로 2239 1,2층 삼숭동 477-1
220                                서울특별시 서초구 반포대로30길 81
221                경기도 파주시 경의로1240번길 37-1  101~3호 201~2호
222                                강원도 인제군 인제읍 인제로 198 .
223                                  대전광역시 동구 은어송로 72 4층
224             충청북도 청주시 서원구 월평로 4 분평동 1226, 대상탑존빌딩 111호
225                                 충청남도 당진시 시청2로 49-25
226                                전라북도 익산시 고봉로32길 46-1
227                              경기도 수원시 권선구 평동로79번길 45
228                               서울특별시 구로구 디지털로32나길 38
229                     서울특별시 마포구 백범로28길 22, 일양빌딩 신관 1층
230                     울산광역시 남구 동산로 93  신정동 1265-16, 1층
231                                경상남도 창원시 진해구 태평로 132
232                          경상북도 칠곡군 석적읍 석적로 178-3 1~2층
233                    서울특별시 마포구 동교로 200 1~3층 동교동 158-26
234                서울특별시 송파구 중대로 130 가락동112-2, 원전빌딩 1층\t
235                            경기 화성시 동탄지성로 215 1,2층 전체호
236                                  경상남도 밀양시 삼문강변로 272
237                                  대구광역시 북구 대학로 17길 3
238                서울특별시 강남구 영동대로 513, 코엑스 지하 1층  C113호
239                             경기도 양평군 양평읍 중앙로 90 1층,2층
240                      경기도 김포시 김포대로 847 중앙프라자 105,204호
241                     경기도 고양시 덕양구 화신로272번길 67  장군빌딩 1층
242                                  전라북도 군산시 새만금북로 424
243                         경기도 남양주시 다산지금로 163번길 9-12 1층
244                              경기도 고양시 덕양구 화중로104번길 8
245                           충청남도 서천군 비인면 서해안고속도로 169 .
246                                  경기도 남양주시 다산순환로 220
247             서울시 서대문구 통일로 87  미근동 257, NH농협생명빌딩 동관 1층
248                          충청북도 청주시 청원구 오창읍 중부고속도로 21
249                         충청북도 청주시 흥덕구 옥산면 경부고속도로 309
250            경기도 김포시 태장로 795번길 145, 아셈호텔 1층 장기동 2011-2
251                                 경기도 군포시 고산로148번길 17
252                                   전라남도 광양시 공영로 92-1
253                                 대구광역시 달서구 두류공원로 200
254                            대전광역시 유성구 문지로299번길 94-19
255                        대구광역시 수성구 범어천로 200,102호,201호
256                                  서울특별시 강서구 공항대로 206
257                                전라북도 전주시 덕진구 아중로 193
258                           충북 청주시 상당구 명암로 32 용담동 449
259                                    인천광역시 중구 공항로 272
260                       경기도 이천시 부발읍 경충대로 2091 연구개발동 1층
261                                 서울특별시 강북구 도봉로82길 11
262                                   서울특별시 중구 퇴계로20길 2
263                                충청남도 천안시 서북구 공원로 196
264                  서울시 동작구 보라매로5길 20 서울특별시보라매병원 희망관 1층
265                            광주광역시 광산구 수완로 73번길 7, 1층
266    경기도 수원시 영통구 덕영대로1556번길 16 디지털엠파이어빌딩 125,126,12...
267                                  서울특별시 서대문구 통일로 360
268        경기도 이천시 마장면중부고속도로82 마장휴게소 하행 통영방향, 목리 산 13-32
269                                 경기도 오산시 내삼미로79번길 46
270                                 서울특별시 마포구  마포대로 143
271                            충청남도 예산군 신양면 당진영덕고속도로 33
272                      대구광역시 달서구 성서로 419, 국민연금대구사옥 1층
273             울산 남구 수암로 138, 타임스퀘어 상가 야음동 789-14, 101호
274                                 서울특별시 마포구 어울마당로 111
275                                서울특별시 서대문구 연세로 5, 1층
276                           경기도 용인시 처인구 명지로116번길 24-2
277                                서울특별시 용산구 한강대로23길 55
278                  전북 전주시 덕진구  기지로 170 국민연금공단 국민누리관 1층
279                                    부산광역시 금정구 금샘로 22
280                                 서울특별시 구로구 새말로 18-29
281                                  서울특별시 마포구 마포대로 100
282                             전라북도 부안군 변산면 채석강길 22-6 .
283                         대구광역시 북구 구암로 59 비전스퀘어 1,2층 .
284                             대전광역시 서구 도솔로 314  1층, 2층
285                             대전광역시 유성구 유성대로1184번길 18
286                               충청남도 천안시 서북구 미라13길 16
287                                  서울특별시 영등포구 여의대로 24
288               경상남도 양산시 물금읍 금오로 20, 양산부산대학교병원 치과병동 1층
289                             부산광역시 사상구 백양대로 621, 2~4층
290                                  인천광역시 남동구 남동대로 931
291                 서울특별시 성동구 왕십리로 222-1, 한양대학교병원 본관 1층
292                                    경기도 시흥시 월곶중앙로 63
293                               대전광역시 서구 둔산대로117번길 95
294                          경상북도 구미시 옥성면 중부내륙고속도로 129 .
295                               경기도 화성시 효행로 501-3 1,2층
296                             대전광역시 서구 계룡로571번길 23-19
297                                전라북도 전주시 완산구 유연로 5 A동
298                 경기도 김포시 김포한강11로 452,1~2층  운양동 1264-4
299                                    부산광역시 동래구 온천장로 5
300                                    경상남도 진주시 진양호로 46
301                                경기도 수원시 영통구 월드컵로 164
302                            대구광역시 수성구 용학로 115 두산동 690
303                                    서울특별시 종로구 동호로 401
304                              부산광역시 북구 덕천1길 21, 1~2층
305                                  인천광역시 부평구 시장로 17-1
306                            충청북도 청주시 흥덕구 오송읍 만수1길 3 .
307                  서울특별시 영등포구 국제금융로2길 32, 여의도파이낸스타워 1층
308                                     경기도 김포시 홍도평로 20
309                      경기도 남양주시 다산중앙로82번안길 143-15 101호
310                                   서울특별시 종로구 대학로 101
311                             서울시 영등포구 시흥대로 595 104~5호
312                              전북 김제시 검산택지 5길 21-10 1층
313                                   대구광역시 북구 침산남로 157
314                                   대구광역시 동구 안심로 255 .
315                  서울특별시 종로구 새문안로5길 31, 센터포인트광화문빌딩 1층
316                               서울특별시 마포구 양화로 151, 1층
317                        전라북도 군산시 미장안길 54  통큰타운3동 105호
318                                  서울특별시 서초구 방배로9길 23
319                     서울시 강남구 삼성로 512, 10층 인터파크 카페테리아
320                              대구시 달성군 유가읍 테크노공원로 65 .
321                                전라남도 장흥군 장흥읍 북부로 18 .
322                                      경기도 구리시 검배로 73
323                         서울 관악구 남부순환로 1489 신림동 526-13
324                                   경기 부천시 부일로726번길 5
325                                    경기도 오산시 경기대로 491
326                                    서울특별시 중구 명동3길 23
327                                   경상북도 구미시 금오산로 209
328         경기 화성시 매송면 서해안고속도로 315 목포방향 서해안고속도로 315 목포방향
329                        경기 화성시 매송면 서해안고속도로 316 서울방향 .
330                          경상남도 창원시 의창구 창원대로 18번길 6-8
331                       전라북도 전주시 완산구 전주천서로 81  동서학동 66
332    대구 북구 성북로 36,2층 601,602,603,604 473-3, 침산초등학교 맞은편
333                            강원도 홍천군 화촌면 서울양양고속도로 84 .
334                          경기도 화성시 동탄대로시범길 134 0001호 .
335                            대구광역시 중구 동성로6길 32, B1~2층
336      인천광역시 미추홀구 주안로 105 1,2층 주안동 130-10 /남구->미추홀구 변경
337                                     울산광역시 남구 정동로 71
338                                    대구광역시 동구 동부로 149
339                           충북 괴산군 장연면 중부내륙고속도로 205 괴산
340                              전라남도 보성군 미력면 남해고속도로 63
341                               전남 보성군 겸백면 남해고속도로 70 .
342                                  서울특별시 강남구 테헤란로 406
343                                     인천 연수구 청능대로 210
344                   경북 김천시 봉산면 경부고속도로 214-1 광천리 737-1
345                          울산광역시 북구 산업로 1448-1 신천동 426
346                             서울특별시 서초구 양재대로12길 73-71
347                           경기도 시흥시 수도권제1순환고속도로 105-1
348              전라남도 무안군 삼향읍 남악로 234 트리폴리앙 B동 1, 108호 .
349                            부산광역시 기장군 장안읍 동해고속도로 26 .
350                             부산광역시 기장군 장안읍 동해고속도로 25
351                                   서울특별시 중구 퇴계로36길 2
352                  경기도 이천시 마장면 중부고속도로 82 마장휴게소 상행 하남방향
353                               세종특별자치시 소담로 40 소담동 570

In [120]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
import time

# Nominatim 초기화
geolocator = Nominatim(user_agent="myGeocoder")

data_part = df.iloc[:5]

# 위경도를 얻기 위한 함수 정의
def get_lat_long(address):
    try:
        location = geolocator.geocode(address)
        if location:
            print(location.latitude, location.longitude)
            return location.latitude, location.longitude
        else:
            return None, None  # 주소가 유효하지 않을 경우
    except GeocoderTimedOut:
        time.sleep(1)
        return get_lat_long(address)  # 타임아웃 발생 시 재귀 호출

# '위도'와 '경도' 열 추가
data_part['위도'], data_part['경도'] = zip(*data_part['주소3'].apply(get_lat_long))

# 결과 출력
data_part.head()

37.34818975 127.1100651
37.5081207 126.7345371
35.8896655 128.5616498
37.4634593 126.44170925544927
35.1089145 129.0382624

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5304\2505948263.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_part['위도'], data_part['경도'] = zip(*data_part['주소3'].apply(get_lat_long))
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_5304\2505948263.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_part['위도'], data_part['경도'] = zip(*data_part['주소3'].apply(get_lat_long))

,지역,매장명,주소,전화번호,주소2,주소3,위도,경도
0,경기 성남시 분당구,분당미금점2,"경기도 성남시 분당구 미금일로90번길 24 (구미동) 구미동 35-3, B1F~1F",031-713-7739,경기도 성남시 분당구 미금일로90번길 24 (구미동) 구미동 35-3,경기도 성남시 분당구 미금일로90번길 24,37.348190,127.110065
1,인천 부평구,인천굴포천역점,"인천광역시 부평구 충선로209번길 49 (삼산동, 삼산노블시티프라자) 삼산동 463...",070-4400-4664,인천광역시 부평구 충선로209번길 49 (삼산동,인천광역시 부평구 충선로209번길 49,37.508121,126.734537
2,대구 서구,대구팔달교DT점,대구광역시 서구 팔달로 34,053-354-1212,대구광역시 서구 팔달로 34,대구광역시 서구 팔달로 34,35.889665,128.561650
3,인천 중구,인천공항교통센터점,"인천광역시 중구 공항로 272 (운서동, 인천공항) 인천국제공항 제1여객터미널 지하...",032-743-3718,인천광역시 중구 공항로 272 (운서동,인천광역시 중구 공항로 272,37.463459,126.441709
4,부산 중구,한국선원센터점,"부산광역시 중구 충장대로9번길 66 (중앙동4가, 한국선원센터) (중앙동4가 74-...",070-4070-7506,부산광역시 중구 충장대로9번길 66 (중앙동4가,부산광역시 중구 충장대로9번길 66,35.108914,129.038262

In [34]:
city = addr['시도'].unique()

In [38]:
dis_list = list(Korea_district.keys())

non_matching = []

for i in city:
    if i not in dis_list:
        non_matching.append(i)
non_matching

['경기',
 '인천',
 '대구',
 '부산',
 '제주',
 '경북',
 '서울',
 '울산',
 '강원',
 '전북',
 '광주',
 '충남',
 '대전',
 '전남',
 '경남',
 '충북',
 '세종']

In [48]:
addr_change = {
    '경기':'경기도', '서울':'서울특별시', '인천':'인천광역시','대구':'대구광역시', '부산':'부산광역시', 
    '제주': '제주특별자치도', '경북':'경상북도', '울산':'울산광역시', '강원': '강원도', '강원특별자치도': '강원도','광주':'광주광역시', 
    '충남':'충청남도', '대전':'대전광역시', '전남':'전라남도', '전북':'전라북도', '경남':'경상남도', 
    '충북':'충청북도', '세종': '세종특별자치시'
}

addr['시도'] = addr['시도'].apply(lambda v: addr_change.get(v, v))

city = addr['시도'].unique()

non_matching = []

for i in city:
    if i not in dis_list:
        non_matching.append(i)
non_matching

[]

In [50]:
city

array(['경기도', '인천광역시', '대구광역시', '부산광역시', '제주특별자치도', '경상북도', '서울특별시',
       '울산광역시', '강원도', '전라북도', '광주광역시', '충청남도', '대전광역시', '전라남도', '경상남도',
       '충청북도', '세종특별자치시'], dtype=object)

In [70]:
addr['군구'].unique()

array(['성남시', '부평구', '서구', '중구', '제주시', '달서구', '연제구', '김천시', '안양시', '남동구',
       '구미시', '성동구', '부산진구', '강릉시', '경주시', '군산시', '북구', '이천시', '구리시',
       '송파구', '홍성군', '서초구', '울주군', '사상구', '연수구', '하남시', '계룡시', '고양시',
       '과천시', '양평군', '완주군', '화성시', '여주시', '중랑구', '광진구', '수성구', '오산시',
       '양천구', '용산구', '강서구', '춘천시', '순천시', '진주시', '논산시', '구로구', '부천시',
       '은평구', '남구', '강동구', '마포구', '노원구', '남양주시', '청주시', '전주시', '금천구',
       '원주시', '천안시', '공주시', '의정부시', '강남구', '수원시', '홍천군', '김해시', '서대문구',
       '기장군', '유성구', '종로구', '사하구', '광명시', '시흥시', '평택시', '동작구', '군포시',
       '아산시', '창원시', '익산시', '거제시', '옥천군', '안성시', '나주시', '김포시', None, '동구',
       '영등포구', '강북구', '성주군', '속초시', '관악구', '수영구', '해운대구', '안산시', '양양군',
       '양주시', '파주시', '인제군', '당진시', '칠곡군', '밀양시', '서천군', '광양시', '광산구',
       '예산군', '용인시', '금정구', '부안군', '양산시', '동래구', '김제시', '달성군', '장흥군',
       '괴산군', '보성군', '무안군', '세종시', '목포시', '사천시', '동해시', '군위군', '남원시',
       '여수시', '단양군', '고창군', '거창군', '진천군', '문경시', '의왕시'], dtype=object)

In [54]:
district_mapping = {value: key for key, values in Korea_district.items() for value in values}
district_keys = list(Korea_district.keys())

non_matching2 = [sido2 for sido2 in addr['군구'].unique() if (sido2 not in district_mapping)]

print(non_matching2)

[None]

In [84]:
addr[addr['군구'].isna()]

          시도    군구
180  세종특별자치시  None
396  세종특별자치시  None

In [76]:
addr[177:184]

          시도    군구
177      경기도   김포시
178    울산광역시    남구
179    서울특별시   강동구
180  세종특별자치시  None
181    서울특별시    중구
182      경기도   김포시
183    대구광역시    동구