In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   ------------------------------------ --- 41.0/45.0 kB 960.0 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 551.3 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [19]:
import pymysql as psq
# 1. mysql DB에 연결 connect() 함수 사용
# 2. 커서 생성 cursor() 함수 사용
# 3. 생성된 커서를 이용해서 sql 명령어를 실행한다. execute() 함수 사용
# 4. 입력한 데이터를 저장 commit() 함수 사용
# 5. mysql DB에 연결 해제 close() 함수 사용
##############################################################################
# 1. mysql DB에 연결 connect() 함수 사용
conn = psq.connect(host = 'localhost', user = 'root', password = 'mysql904#', db = 'kosmo', charset = 'utf8')

# 2. 커서 생성 cursor() 함수 사용
cur = conn.cursor()

# 3. 생성된 커서를 이용해서 sql 명령어를 실행한다. execute() 함수 사용
cur.execute("insert into customer values(6,'이원재','대한민국 서울시','02-599-8697')")
cur.execute("insert into customer values(7,'이순신','대한민국 남해시','062-599-8697')")

# 4. 입력한 데이터를 저장 commit() 함수 사용
conn.commit()

# 5. mysql DB에 연결 해제 close() 함수 사용
conn.close()

In [13]:
import pymysql as psq

conn = psq.connect(host = 'localhost', user = 'root', password = 'mysql904#', db = 'solodb', charset = 'utf8')

cur = conn.cursor()

cur.execute('create table usertable(id varchar(20) primary key,username varchar(20) not null, email varchar(20), birthyear int)')
#ddl 은 commit() 안해도 저장 insert,delete,update는 commit 필요
cur.execute("insert into usertable values('hong', '홍지윤', 'hong@naver.com', 1996)")
cur.execute("insert into usertable values('kim', '김태연', 'kim@daum.net', 2011)")
cur.execute("insert into usertable values('star', '별사랑', 'star@paran.com', 1990)")
cur.execute("insert into usertable values('yang', '양지은', 'yang@gmail.com', 1993)")

conn.commit()
# conn.close()

In [17]:
# user table에 pwd 필드를 추가함
cur.execute('alter table usertable add pwd varchar(20)')

0

In [19]:
# 추가한 pwd 필드의 내용을 모두 a1234로 초기화하기
cur.execute("update usertable set pwd='a1234'")
conn.commit()

In [25]:
cur.execute('select * from usertable')

result = cur.fetchall()

for re in result:
    print(re)

#con.close()

('hong', '홍지윤', 'hong@naver.com', 1996, 'a1234')
('kim', '김태연', 'kim@daum.net', 2011, 'a1234')
('star', '별사랑', 'star@paran.com', 1990, 'a1234')
('yang', '양지은', 'yang@gmail.com', 1993, 'a1234')

# 테이블 삭제
cur.execute('drop table usertable')

In [3]:
import pymysql as psq

conn = psq.connect(host = 'localhost', user = 'root', password = 'mysql904#', db = 'solodb', charset = 'utf8')

cur = conn.cursor()

cur.execute('create table dbinfo(dbms varchar(20) primary key,company varchar(20) not null, os varchar(30) not null, etc varchar(50))')

cur.execute("insert into dbinfo values('mysql', 'oracle', 'unix,linux,windows,mac', '오픈 소스(무료),상용')")
cur.execute("insert into dbinfo values('mariadb', 'mariadb', 'unix,linux,windows', '오픈 소스(무료),mysql 초기 개발자들이 독립해서 만듦')")
cur.execute("insert into dbinfo values('postgresql', 'postgresql', 'unix,linux,windows,mac', '오픈 소스(무료)')")
cur.execute("insert into dbinfo values('oracle', 'oracle', 'unix,linux,windows', '상용 시장 점유율 1위')")
cur.execute("insert into dbinfo values('sqlserver', 'microsoft', 'windows', '주로 중/대형급 시장에서 사용')")
cur.execute("insert into dbinfo values('db2', 'ibm', 'unix,linux,windows', '메인프레임 시장 점유율 1위')")
cur.execute("insert into dbinfo values('access', 'microsoft', 'windows', 'pc용')")
cur.execute("insert into dbinfo values('sqlite', 'sqlite', 'android,ios', '모바일 전용, 오픈 소스(무료)')")

conn.commit()
conn.close()

In [1]:
import pymysql as psq

conn = psq.connect(host = 'localhost', user = 'root', password = 'mysql904#', db = 'solodb', charset = 'utf8')

cur = conn.cursor()

cur.execute('create table dbinfo(id int primary key auto_increment, dbms varchar(20) ,company varchar(20) not null, os varchar(30) not null, etc varchar(50))')

cur.execute("insert into dbinfo (dbms, company, os, etc) values('mysql', 'oracle', 'unix,linux,windows,mac', '오픈 소스(무료),상용')")
cur.execute("insert into dbinfo (dbms, company, os, etc) values('mariadb', 'mariadb', 'unix,linux,windows', '오픈 소스(무료),mysql 초기 개발자들이 독립해서 만듦')")
cur.execute("insert into dbinfo (dbms, company, os, etc) values('postgresql', 'postgresql', 'unix,linux,windows,mac', '오픈 소스(무료)')")
cur.execute("insert into dbinfo (dbms, company, os, etc) values('oracle', 'oracle', 'unix,linux,windows', '상용 시장 점유율 1위')")
cur.execute("insert into dbinfo (dbms, company, os, etc) values('sqlserver', 'microsoft', 'windows', '주로 중/대형급 시장에서 사용')")
cur.execute("insert into dbinfo (dbms, company, os, etc) values('db2', 'ibm', 'unix,linux,windows', '메인프레임 시장 점유율 1위')")
cur.execute("insert into dbinfo (dbms, company, os, etc) values('access', 'microsoft', 'windows', 'pc용')")
cur.execute("insert into dbinfo (dbms, company, os, etc) values('sqlite', 'sqlite', 'android,ios', '모바일 전용, 오픈 소스(무료)')")

conn.commit()
conn.close()

In [15]:
import pymysql
conn = pymysql.connect(host='127.255.5.234', user='root', password='mysql904#', db='solodb', charset='utf8')

cur = conn.cursor()

cur.execute("SELECT * FROM dbinfo")

# 데이터 접근
result = cur.fetchall()

"""
fetchall()   모든 데이터를 한 번에 가져올 때 사용
fetchone()   한 번 호출에 하나의 행만 가져올 때 사용
fetchmany(n)   n개만큼의 데이터를 가져올 때 사용
"""

# 연결 종료
conn.close()

print(type(result))
for re in result:
    print(re)

<class 'tuple'>
(1, 'mysql', 'oracle', 'unix,linux,windows,mac', '오픈 소스(무료),상용')
(2, 'mariadb', 'mariadb', 'unix,linux,windows', '오픈 소스(무료),mysql 초기 개발자들이 독립해서 만듦')
(3, 'postgresql', 'postgresql', 'unix,linux,windows,mac', '오픈 소스(무료)')
(4, 'oracle', 'oracle', 'unix,linux,windows', '상용 시장 점유율 1위')
(5, 'sqlserver', 'microsoft', 'windows', '주로 중/대형급 시장에서 사용')
(6, 'db2', 'ibm', 'unix,linux,windows', '메인프레임 시장 점유율 1위')
(7, 'access', 'microsoft', 'windows', 'pc용')
(8, 'sqlite', 'sqlite', 'android,ios', '모바일 전용, 오픈 소스(무료)')