In [90]:
# menu = 9'coffee', 'milk', 'tea', 'cider')
# print(menu)
# print(menu[0])
# print(menu[2])
# print(menu[0:3])
# menu[1] = 'cola'

In [21]:
tuple1 = ('apple', 'banana', 'cherry')
tuple2 = ('orange', 'melon', 'strawberry')
tuple3 = tuple1 + tuple2
print(tuple3) 
print(len(tuple3)) 
for x in tuple1 :
    print(x)
del tuple1

('apple', 'banana', 'cherry', 'orange', 'melon', 'strawberry')
6
apple
banana
cherry

In [51]:
#q6-1
# 구구단표 
# -----------------------------
# 2 x 1 = 2 
# 2 x 2 = 4 
# 2 x 3 = 6 
# ...
# 9 x 8 = 72 
# 9 x 9 = 81 
# -----------------------------
d=(2,3,4,5,6,7,8,9)
print('구구단표')
print('-'*30)
for dan in d:
    for i in range(1,10):
        print('%d x %d = %d'%(dan, i, dan*i))
    print('-'*30)

구구단표
------------------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
------------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
------------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
------------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
------------------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
------------------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
------------------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
------------------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
------------------------------

In [55]:
#딕셔너리의 기본 구조
members = {'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}
print(members)
print(members['name'])
print(members['age'])
print('길이 : %d' % len(members)) # 키, 값은 한쌍

{'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}
안지영
30
길이 : 3

In [61]:
#딕셔너리 요소 다루기
name = '안진영'
scores = {'kor': 95, 'eng': 85, 'math': 90, 'science': 80} 
print(scores)
scores['kor'] = 70 
print(scores['kor'])
scores['music'] = 100 
print(scores)
del scores['science']
print(scores)
print('이름 : %s' % name)
print('국어 : %d' % scores['kor'])
print('영어 : %d' % scores['eng'])
print('수학 : %d' % scores['math'])

{'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
70
{'kor': 70, 'eng': 85, 'math': 90, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'math': 90, 'music': 100}
이름 : 안진영
국어 : 70
영어 : 85
수학 : 90

In [92]:
#for문에서 딕셔너리 사용하기
phones = {'갤럭시 노트8': 2017,  '갤럭시 S9': 2018, '갤럭시 노트10': 2019, '갤럭시 S20': 2020} 
print(phones)
print(phones.items()) # list type
print(phones.keys())
print(phones.values())
for key in phones :
    print('%s => %s' % (key, phones[key])) 
print(len(phones))

{'갤럭시 노트8': 2017, '갤럭시 S9': 2018, '갤럭시 노트10': 2019, '갤럭시 S20': 2020}
dict_items([('갤럭시 노트8', 2017), ('갤럭시 S9', 2018), ('갤럭시 노트10', 2019), ('갤럭시 S20', 2020)])
dict_keys(['갤럭시 노트8', '갤럭시 S9', '갤럭시 노트10', '갤럭시 S20'])
dict_values([2017, 2018, 2019, 2020])
갤럭시 노트8 => 2017
갤럭시 S9 => 2018
갤럭시 노트10 => 2019
갤럭시 S20 => 2020
4

In [165]:
l1=['apple', 'banana', 'cherry']
l2 = ['orange', 'melon', 'strawberry']
l3 = [1,2,3]
l4 = [4,5,6]

l1.extend(l2)
l5= l1
print(l5)

person1 = ['kim', 24, 'kim@naver.com']
person2 = ['lee', 35, 'lee@hanmail.net']
person = person1+(person2)
print(person)

person1.extend(person2) #person=person1.extend(person2)는 none (extend()의 내장함수의 반환값이 none)
personR=person1
print(personR)

['apple', 'banana', 'cherry', 'orange', 'melon', 'strawberry']
['kim', 24, 'kim@naver.com', 'lee', 35, 'lee@hanmail.net']
['kim', 24, 'kim@naver.com', 'lee', 35, 'lee@hanmail.net']

In [178]:
# 매개 변수가 1개인 경우
def even_odd(num) :
    if num % 2 == 0 :
        print('%d은(는) 짝수이다.' % num) 
    else :
        print('%d은(는) 홀수이다.' % num) 
even_odd(7)
even_odd(16)

7은(는) 홀수이다.
16은(는) 짝수이다.

In [214]:
#매개 변수가 여러 개인 경우
def favorate_color(name, color, amount) :
    if (amount == 1) :
        print('%s님은 %s을 좋아하지 않습니다.' % (name, color)) 
    elif (amount == 2) :
        print('%s님은 %s을 조금 좋아합니다.' % (name, color)) 
    else :
        print('%s님은 %s을 매우 좋아합니다.' % (name, color))
favorate_color('김지영', '빨강', 1)
favorate_color('홍채영', '노랑', 2)
favorate_color('진소진', '파랑', 3)

김지영님은 빨강을 좋아하지 않습니다.
홍채영님은 노랑을 조금 좋아합니다.
진소진님은 파랑을 매우 좋아합니다.

In [229]:
#매개 변수 *args
def average(*scores) : # *변수 = 변수 여러개 한번에
    sum = 0
    for i in range(len(scores)) : # 가능하면 함수의 개수를 최소로
        sum += scores[i] 
    avg = sum/len(scores)
    print('%d과목의 평균 : %.2f' % (len(scores), avg))
average(80, 90, 100)
average(75, 80, 94, 78)
average(80, 73, 76, 86, 82)

3과목의 평균 : 90.00
4과목의 평균 : 81.75
5과목의 평균 : 79.40

In [34]:
#파이썬의 값에 의한 호출
# 서브 루틴 : func() 함수 
def func(x) :
    x = 100
    global y
    print('func() : x = ', x, ', id =', id(x)) #id = 객체를 구별하기 위해 고유 값 리턴 일련번호는 의미x
    print('y=',y)
    y = y + 30
    print('y=',y)
# 메인 루틴
x = 10
y = 20
print('메인 : x = ', x, ', id =', id(x)) 
func(x)
print('메인 : x = ', x, ', id =', id(x))
print('메인에서 출력하는

메인 : x =  10 , id = 140730080836312
func() : x =  100 , id = 140730080839192
y= 20
y= 50
메인 : x =  10 , id = 140730080836312

In [38]:
#파이썬의 레퍼런스에 의한 호출
# 서브 루틴 : func() 함수 
def func(x) :
    x[0] = 100
    print('func() : x = ', x, ', id =', id(x)) 
# 메인 루틴
x = [1, 2, 3]
print('메인 : x = ', x, ', id =', id(x)) 
func(x)
print('메인 : x = ', x, ', id =', id(x))

메인 : x =  [1, 2, 3] , id = 3006547956992
func() : x =  [100, 2, 3] , id = 3006547956992
메인 : x =  [100, 2, 3] , id = 3006547956992

In [42]:
# 함수 값의 반환
def circle_area(r) : 
    area = r * r * 3.14   
    return area
radius = int(input('원의 반지름을 입력하세요 : ')) 
result = circle_area(radius)
print('반지름 : %d, 원의 면적 : %.2f' % (radius, result)) 
radius = int(input('원의 반지름을 입력하세요 : '))
result = circle_area(radius)
print('반지름 : %d, 원의 면적 : %.2f' % (radius, result))

원의 반지름을 입력하세요 :  3

반지름 : 3, 원의 면적 : 28.26

원의 반지름을 입력하세요 :  3

반지름 : 3, 원의 면적 : 28.26

In [56]:
#람다 함수
x = lambda a : a**2 
# def x(a):
#     return a**2
print(x(5))  #25
print(x(10))  #100

25
100

In [69]:
#람다 함수 사용 예  #https://chatgpt.com/c/8f769d40-343c-43a1-a030-5253173b11ab
f = lambda x, y, z : x + y + z 
# def f (x,y,z):
#     return x+y+z
print(f(10, 20, 30))
def mul(n) :
    return lambda x : x * n 
    # mul = lambda n: lambda x : x * n
g = mul(3)
h = mul(5) 
print(g(10)) #mul(3)(10)
print(h(10))

60
30
50

In [73]:
#지역 변수 사용 시의 오류
def func() : 
    x = 10 
    print(x)
func() 
print(x) #지역변수 x 는 함수 외에 무효

10
<function <lambda> at 0x000002BC001287C0>

In [75]:
#전역 변수의 사용 예
def func() : 
    print(x) 
    print(id(x))
x = 10 
print(x) 
print(id(x)) 
func()

10
140730080836312
10
140730080836312

In [1]:
#전역 변수의 값의 변경
def func() : 
    x = 100 
    print(x) 
    print(id(x))
x = 10 
print(x) 
print(id(x))
func() 
print(x)
print(id(x))

10
140730080836312
100
140730080839192
10
140730080836312

In [79]:
#키워드 global
def func() : 
    global x 
    x = 100 
    print(x) 
    print(id(x))
x = 10 
print(x) 
func() 
print(x) 
print(id(x))

10
100
140730080839192
100
140730080839192

In [102]:
#q6-2
# 실행 결과 1
# 관리자 아이디를 입력하세요 : rubato 
# 관리자 비밀번호를 입력하세요 : 1111 
# 아이디 또는 비밀번호가 잘못 입력되었습니다.
# 실행결과 2
# 관리자 아이디를 입력하세요 : admin 
# 관리자 비밀번호를 입력하세요 : 12345 
# 관리자입니다.
admin_info = ('admin', '12345', 'rubato@naver.com')
id = input('관리자 아이디 입력: ')
password = input('관리자 비밀번호 입력: ')
if id == 'admin' and password == '12345' :
    print('관리자')
else :
    print('아이디 또는 비밀번호가 잘못되었습니다')

관리자 아이디 입력:  admin
관리자 비밀번호 입력:  12345

관리자

In [204]:
# q6-3
# 김예진 : 90
# 박영진 : 95
# 김소희 : 84
# 합계 : 269, 평균 : 89.67
scores = {'김예진': 90, '박영진' : 95, '김소희' : 84}
sum = 0
for key in scores :
    sum += scores[key]
    print('%s: %d' %(key, scores[key]))
avg = sum/len(scores)
print('합계: %d, 평균 :%0.2f'%(sum,avg))

김예진: 90
박영진: 95
김소희: 84
합계: 269, 평균 :89.67

In [212]:
# q6-4
# 결과1
# 아이디를 입력하세요: ocella 
# 비밀번호를 입력하세요: 13093 
# 정보에 접근 권한이 없습니다!
# 결과2
# 아이디를 입력하세요: admin 
# 비밀번호를 입력하세요: 11111 
# 모든 정보에 접근 가능합니다!
ad = {'id': 'admin', 'password': '11111'}
in_id=input('아이디 입력')
in_password=input('비밀번호 입력')
if(in_id==ad['id'] and in_password==ad['password']):
    print('모든 정보 접근 가능')
else:
    print('정보 권한 없음')

아이디 입력 asd
비밀번호 입력 asd

정보 권한 없음

In [22]:
# q6-5
# 사과에 해당되는 영어 단어를 입력해주세요: apple 
# 정답입니다!
# 컴퓨터에 해당되는 영어 단어를 입력해주세요: commputer 
# 틀렸습니다!
# 학교에 해당되는 영어 단어를 입력해주세요: school 
# 정답입니다!
# 책상에 해당되는 영어 단어를 입력해주세요: tesk 
# 틀렸습니다!
# 의자에 해당되는 영어 단어를 입력해주세요: chaaar 
# 틀렸습니다!
words={'사과': 'apple', '컴퓨터': 'computer', '학교': 'school', '책상': 'desk', '의자': 'chair'}
for key in words:
    in_word = input('%s에 해당되는 영어 단어를 입력: '%key)
    if in_word == words[key]:
        print('정답')
    else:
        print('오답')

사과에 해당되는 영어 단어를 입력:  apple

정답

컴퓨터에 해당되는 영어 단어를 입력:  computer

정답

학교에 해당되는 영어 단어를 입력:  asd

오답

책상에 해당되는 영어 단어를 입력:  asd

오답

의자에 해당되는 영어 단어를 입력:  dsa

오답

In [18]:
#q7-1
# 10 ~ 100의 정수 합계 : 5005
# 100 ~ 1000의 정수 합계 : 495550 
# 1000 ~ 10000의 정수 합계 : 49505500
def sum(start,end):
    total=0
    for i in range(start,end+1):
        total += i
    print('%d ~ %d의 정수 합계: %d'%(start,end,total))
sum(10,100)
sum(100,1000)
sum(1000,10000)

10 ~ 100의 정수 합계: 5005
100 ~ 1000의 정수 합계: 495550
1000 ~ 10000의 정수 합계: 49505500

In [126]:
#q7-2
# 시작 수를 입력하세요: 10
# 끝 수를 입력하세요: 100
# 합계를 구할 배수를 입력하세요: 5 
# 10 ~ 100의 정수 중 5의 배수의 합 : 1045
def sum_besu(n1,n2,num):
    sum=0
    for i in range(n1,n2+1):
        if i % besu == 0:
            sum += i
    return sum
start = int(input('시작 수 입력: '))
end = int(input('끝 수 입력: '))
besu = int(input('합계를 구할 배수: '))
result = sum_besu(start,end,besu)
print('%d~%d의 정수 중 %d의 배수의 합: %d'%(start,end,besu,result))

시작 수 입력:  10
끝 수 입력:  100
합계를 구할 배수:  5

10~100의 정수 중 5의 배수의 합: 1045

In [122]:
#q7-3
# 첫 번째 수를 입력하세요: 33 
# 두 번째 수를 입력하세요: 44 
# 33과(와) 44의 최대공약수 : 11
def computemaxgong(x,y):
    if x > y :
        small= y
    else:
        small= x
        for i in range(1,small+1):
            if(x%i==0) and (y%i==0):
                result = i 
        return result
num1 = int(input('첫 번째 수: '))
num2 = int(input('두 번쨰 수: '))
max_gong = computemaxgong(num1,num2)
print('%d과(와) %d 최대공약수: %d'%(num1, num2, max_gong))

첫 번째 수:  33
두 번쨰 수:  44

33과(와) 44 최대공약수: 11

In [132]:
#q7-4
# 오렌지에 맞는 영어 단어는? orange 
# 맞습니다!
# 과자에 맞는 영어 단어는? cookie 
# 맞습니다!
# 어머니에 맞는 영어 단어는? motheer 
# 틀렸습니다!
# 형제에 맞는 영어 단어는? brother 
# 맞습니다!
# 파이썬에 맞는 영어 단어는? pithon 
# 틀렸습니다!
def matchword(word,answer):
    if word == answer:
        msg = '맞습니다!'
    else:
        msg = '틀렸습니다!'
    return msg
eng_dict = {'orange': '오렌지', 'cookie': '과자', 'mother': '엄마', 'brother': '형제', 'python': '파이썬'}
for key in  eng_dict:
    string = input(eng_dict[key]+'에 맞는 영어 단어는?')
    result = matchword(string, key)
    print(result)

오렌지에 맞는 영어 단어는? orange

맞습니다!

과자에 맞는 영어 단어는? asd

틀렸습니다!

엄마에 맞는 영어 단어는? das

틀렸습니다!

형제에 맞는 영어 단어는? brother

맞습니다!

파이썬에 맞는 영어 단어는? python

맞습니다!

In [66]:
#q7-5
# 첫 번째 수를 입력하세요: 33 
# 두 번째 수를 입력하세요: 77 
# 세 번째 수를 입력하세요: -21 
# 33, 77, -21 중 가장 큰 수 : 77
def maxtwo(i,j):
    if i>j :
        return i
    else:
        return j
def maxthree(x,y,z):
    max1=maxtwo(x,y)
    max2=maxtwo(y,z)
    if max1 > max2:
        largest=max1
    else:
        largest=max2
    return largest
a= int(input('첫 수 입력'))
b= int(input('두 수 입력'))
c= int(input('세 수 입력'))
max_num = maxthree(a,b,c)

print('%d,%d,%d중 큰 수 : %d'%(a,b,c,max_num))

첫 수 입력 33
두 수 입력 77
세 수 입력 -21

33,77,-21중 큰 수 : 77