In [ ]:
a = input('서비스 만족도:\n'
    '1: 매우 만족\n'
    '2: 만족\n'
    '3: 불만족\n'
    '서비스 만족도를 입력해주세요 (예: 1 또는 2 또는 3): ')
price = int(input('음식값을 입력해 주세요(예:8000): '))

if a == '1':
    tip = int(price * 0.2)
    service = '매우 만족'
elif a == '2':
    tip = int(price * 0.1)
    service = '만족'
else:
    tip = int(price * 0.05)
    service = '불만족'

print()
print('서비스 만족도 : %s,\n'
        '팁 : %d원' % (service, tip))

In [ ]:
a = input('서비스 만족도:\n'
    '1: 매우 만족\n'
    '2: 만족\n'
    '3: 불만족\n'
    '0: 끝내기\n'
    '서비스 만족도를 입력해주세요 (예: 1 또는 2 또는 3): ')
while True :
    if (a>='0' and a<='3') :
        if a == '0' :
            break 
        price = int(input('음식값을 입력해 주세요(예:8000): '))  
        if a == '1':    
            tip = int(price * 0.2)    
            service = '매우 만족'    
        elif a == '2':    
            tip = int(price * 0.1)    
            service = '만족'    
        else:    
            tip = int(price * 0.05)    
            service = '불만족'
        print()    
        print('서비스 만족도 : %s,\n 팁 : %d원' % (service, tip))
        break
    else : print('0~1 사이 값을 선택해 주세요')
    a = input('서비스 만족도:\n'
        '1: 매우 만족\n'
        '2: 만족\n'
        '3: 불만족\n'
        '0: 끝내기\n'
        '서비스 만족도를 입력해주세요 (예: 1 또는 2 또는 3): ')
    break

In [ ]:
a = input('서비스 만족도:\n'
    '1: 매우 만족\n'
    '2: 만족\n'
    '3: 불만족\n'
    '0: 끝내기\n'
    '서비스 만족도를 입력해주세요 (예: 1 또는 2 또는 3): ')
while True :
    if (a<'0' or a > '3'): 
        print('0~1 사이 값을 선택해 주세요')
        a = input('서비스 만족도:\n'
            '1: 매우 만족\n'
            '2: 만족\n'
            '3: 불만족\n'
            '0: 끝내기\n'
            '서비스 만족도를 입력해주세요 (예: 1 또는 2 또는 3): ')
        break
    else :
        if a == '0' :
            break
        price = int(input('음식값을 입력해 주세요(예:8000): '))
        if a == '1':
            tip = int(price * 0.2)
            service = '매우 만족'
        elif a == '2':
            tip = int(price * 0.1)
            service = '만족'    
        else:
            tip = int(price * 0.05)
            service = '불만족'
        print()
        print('서비스 만족도 : %s,\n 팁 : %d원' % (service, tip))
        break

In [ ]:
# ----------------------------- 
# 섭씨          화씨
# ----------------------------- 
# -20     -4.0 
# -19 -2.2 
# -18 -0.4 
# ...
# 39       102.2
# 40       104.0 
# -----------------------------
print('-' * 30) 
print('     섭씨         화씨')
print('-' * 30) 
c = -20
while c < 41 :    
    f = c * 9.0/ 5.0 + 32.0     
    print('%8d  %8.1f' % (c, f))
    c += 1 # c= c + 1
print('-' * 30)
#1. f
#2. c
#3. c += 1

In [ ]:
# 200 202 203 205 206 208 209 211 
# 212 214 215 217 218 220 221 223 
# 224 226 227 229 230 232 233 235 
# ...
# 584 586 587 589 590 592 593 595 
# 596 598 599

i = 200 
count = 0 
while i < 601 :    
if i % 3 3!_ 0 :   
print('%d ' % i, end='')        
i += 200
if count % 8 == 0 :            
print()    
i ➌______ 1

In [ ]:
# 문장을 입력해 주세요 : 쥐 구멍에 볕 들 날 있 
# 다.
# .다있-날-들-볕-에멍구-쥐
sentence = input('문장을 입력해 주세요 : ') 
i = len(sentence) - 1
while i > 0 :  
if ❷__________ == ' ' :      
print('-', end='')    
else :
print('%s' % sentence[i], end='') 
i ❸____ 1
#1. >
#2. 
#3.

In [ ]:
fruits = ['사과', '오렌지', '딸기', '포도 ', '감', '키위', '멜론', '수박']
list1 = [5, 10.2, '탁구', True, [4, 5, 6]] 
numbers = list(range(1, 10, 2))
print(fruits)
print(list1)
print(numbers)
print()
print(fruits[0])
print(fruits[1:4])
print(fruits[2:])
print(fruits[-1])
print(fruits[-4:-2])
print(fruits[-3:])

In [ ]:
a = ['red', 'green', 'blue'] 
a.append('yellow') 
print(a)
a.insert(1, 'black') 
print(a)
b = ['purple', 'white'] 
a.extend(b) #append는 ()그대로 추가 extend는 ([])속의 요소로 추가
print(a) 
c = a + b 
print(c)

In [ ]:
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
x = a.index(30)
print(x)
a.pop(x)      # del a[x]와 동일 
print(a)
a.remove(90)
print(a)
a.clear()
print(a)

In [ ]:
list1 = ['a', 'bb', 'c', 'd','aaa', 'c', 'ddd', 'aaa',  'b', 'cc', 'd', 'aaa', ] 
length = list1.count('aaa')
print(length)

In [ ]:
list2 = [-7, 1, 5, 8, 3, 9, 11, 13] 
list2.sort()
print(list2)
list2.sort(reverse=True) # 내림차순
print(list2)

In [ ]:
fruits = ['apple', 'orange', 'banana'] 
for fruit in fruits :
    print(fruit)

In [ ]:
scores = [88, 75, 90, 95, 77, 69, 80, 92] 
sum = 0
for score in scores :
    sum += score 
avg = sum/8
print('총점 : %d, 평균 : %.2f' % (sum, avg))

In [ ]:
animals = ['토끼', '거북이', '사자', '호랑이'] 
i = 0
while i < len(animals) :
    print(animals[i]) 
    i += 1

In [ ]:
numbers = [[10, 20, 30], [40, 50, 60]]
print(numbers[0])
print(numbers[1])
print(numbers[0][0])
print(numbers[0][1])
print(numbers[0][2])
print(numbers[1][0])
print(numbers[1][1])
print(numbers[1][2])

In [ ]:
scores = [[96, 84, 80], [96, 86, 76], [76, 95, 83], [89, 96, 69],\ # \ 는 줄바꿈 
          [90, 76, 91], [82, 66, 88], [83, 86, 79], [85, 90, 83]] 
for i in range(len(scores)) : #len(scores)=8 [0]~[7]
    sum = 0
    for j in range(len(scores[i])) :#len(scores[i])=3 [0]~[2]
        sum = sum + scores[i][j] 
    avg = sum/len(scores[i])
    print('%d번째 학생의 합계 : %d, 평균 : %.2f' % (i+1, sum, avg))

In [1]:
#q5-1
# red 
# white 
# ['green', 'blue', 'black']
color = ['red', 'green', 'blue', 'black', 'white']
print(color[0]) 
print(color[-1]) 
print(color[1:-1])
#1. 0
#2. -1
#3. 1:-1

red
white
['green', 'blue', 'black']

In [75]:
#Q5-2
# [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
num = list(range(1, 20, 2)) 
print(num)
#1. 1
#2. 20
#3. 2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [73]:
#q5-3
# 사과 
# 바나나 
# 파인애플 
# 배 
# 키위
mylist = ['사과', '바나나', '파인애플', '배'] 
mylist.append('키위')
for a in  mylist:
    print(a)
#1. append
#2. in
#3. mylist

사과
바나나
파인애플
배
키위

In [77]:
#q5-4
#['사과', '파인애플', '포도', '오렌지', '배']
mylist = ['사과', '바나나', '파인애플', '포도', '오렌지', '배'] 
mylist.remove('바나나') 
print(mylist)
#1. remove

['사과', '파인애플', '포도', '오렌지', '배']

In [79]:
#q5-5
# ['kim', 24, 'kim@naver.com', 'lee', 35, 'lee@hanmail.net']
person1 = ['kim', 24, 'kim@naver.com'] 
person2 = ['lee', 35, 'lee@hanmail.net']
person = person1 + person2 #.extend
print(person)
#1. +

['kim', 24, 'kim@naver.com', 'lee', 35, 'lee@hanmail.net']

In [1]:
#q5-6
# 수 : 3명 
# 우 : 6명 
# 미 : 3명 
# 양 : 4명 
# 가 : 4명
s = [64, 89, 100, 85, 77, 58, 79, 67, 96, 87,87, 36, 82, 98, 84, 76, 63, 69, 53, 22]
count_su = 0            # 90점 ~ 100점
count_woo = 0           # 80점 ~ 89점
count_mi = 0            # 70점 ~ 79점
count_yang = 0          # 60점 ~ 69점
count_ga = 0            # 0점   ~ 59점
i = 0
while i < len(s)  :  
    if s[i] >= 90 and s[i] <=100 :
        count_su = count_su + 1 #count_su += count_su
    elif s[i] >= 80 and s[i] <= 89 :
        count_woo = count_woo + 1 
    elif s[i] >= 70 and s[i] <= 79 :
        count_mi = count_mi + 1 
    elif s[i] >= 60 and s[i] <= 69 :
        count_yang = count_yang + 1
    else s[i] >= 0 and s[i] <= 59 : 
        count_ga = count_ga + 1 
    i += 1
print('수 : %d명' % count_su) 
print('우 : %d명' % count_woo) 
print('미 : %d명' % count_mi)
print('양 : %d명' % count_yang) 
print('가 : %d명' % count_ga)
#1. i = 0
#2.len(s)
# 3. i += 1

수 : 3명
우 : 6명
미 : 3명
양 : 4명
가 : 4명

In [3]:
#q5-7?
# tr_in 에서 밑줄(_) 안에 들어갈 알파벳은?a 
# 정답입니다!
# b_s 에서 밑줄(_) 안에 들어갈 알파벳은?a 
# 틀렸습니다!
# _axi 에서 밑줄(_) 안에 들어갈 알파벳은?h 
# 틀렸습니다!
# air_lane 에서 밑줄(_) 안에 들어갈 알파벳은?w 
# 틀렸습니다!
questions = ['tr_in', 'b_s', '_axi', 'air_lane'] 
answers   = ['a', 'u', 't','p']
for i in range(len(questions)) :
    q = '%s 에서 밑줄(_) 안에 들어갈 알파벳은?' % questions[i] 
    ans = input(q)
    if ans.lower() == answers[i] : #lower 대소문자 구분없이 정답확인
        print('정답입니다!')
    else :
        print('틀렸습니다!')
#1. questions[i]
#2. q
#3. answers[i]

tr_in 에서 밑줄(_) 안에 들어갈 알파벳은? a

정답입니다!

b_s 에서 밑줄(_) 안에 들어갈 알파벳은? u

정답입니다!

_axi 에서 밑줄(_) 안에 들어갈 알파벳은? t

정답입니다!

air_lane 에서 밑줄(_) 안에 들어갈 알파벳은? p

정답입니다!

In [11]:
# q5-8
# 1번째 학생의 합계 : 260, 평균 : 86.67 
# 2번째 학생의 합계 : 258, 평균 : 86.00 
# 3번째 학생의 합계 : 254, 평균 : 84.67 
# 4번째 학생의 합계 : 254, 평균 : 84.67 
# 5번째 학생의 합계 : 257, 평균 : 85.67 
# 6번째 학생의 합계 : 236, 평균 : 78.67 
# 7번째 학생의 합계 : 248, 평균 : 82.67 
# 8번째 학생의 합계 : 258, 평균 : 86.00
scores = [[96, 84, 80], [96, 86, 76], [76, 95, 83], [89, 96, 69], 
          [90, 76, 91], [82, 66, 88], [83, 86, 79], [85, 90, 83]] 
i = 0 #변수 사용 전 초기값 설정(초기화)
while i < len(scores) : 
    sum = 0
    j = 0
    while j < len(scores[i]) :
        sum = sum + scores[i][j] #scores[i][j] = [0]~[2]
        j += 1
    avg = sum/len(scores[i]) 
    print('%d번째 학생의 합계 : %d, 평균 : %.2f' % (i+1, sum, avg)) 
    i += 1
#1. i
#2. j
#3. j
#4. i += 1

1번째 학생의 합계 : 260, 평균 : 86.67
2번째 학생의 합계 : 258, 평균 : 86.00
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 257, 평균 : 85.67
6번째 학생의 합계 : 236, 평균 : 78.67
7번째 학생의 합계 : 248, 평균 : 82.67
8번째 학생의 합계 : 258, 평균 : 86.00

In [ ]:
#q5-9
# 성적을 입력하세요(종료 시 -1 입력): 75 
# 성적을 입력하세요(종료 시 -1 입력): 83 
# 성적을 입력하세요(종료 시 -1 입력): 88 
# 성적을 입력하세요(종료 시 -1 입력): 93 
# 성적을 입력하세요(종료 시 -1 입력): 97 
# 성적을 입력하세요(종료 시 -1 입력): -1 
# 합계 : 436, 평균 : 87.20
scores = [] 
while True :
    score = int(input('성적을 입력하세요(종료 시 -1 입력): ')) 
    if score == -1 :
        ❶__________ 
    else :
        scores.❷__________(score) 
    sum = 0 
    for i in range(0, ❸__________) :
        sum += scores[i]
    avg = sum/❹__________
    print('합계 : %d, 평균 : %.2f' % (sum, avg))
#1. break
#2. append
#3. len(scores)
#4. len(scores)

In [23]:
#q5-10
# □□□□□□□□□□ 
# □□□□□□□□□□ 
# □□□□□□□□□□ 
# ■■■□□□□□■□ 
# □□□□□■□□□□ 
# □■□□□■□■□□ 
# □□□□□□■□□□ 
# ■□■□□□□□□■
seats = [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 
        [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
        [1, 1, 1, 0, 0, 0, 0, 0, 1, 0], 
        [0, 0, 0, 0, 0, 1, 0, 0, 0, 0], 
        [0, 1, 0, 0, 0, 1, 0, 1, 0, 0], 
        [0, 0, 0, 0, 0, 0, 1, 0, 0, 0], 
        [1, 0, 1, 0, 0, 0, 0, 0, 0, 1]]
for i in range(len(seats)) : 
    for j in range(len(seats[i])) :
        if seats[i][j] == 0 :
            print('%3s' % '□', end='') 
        else :
            print('%3s' % '■', end='') 
    print()
print('\n※ 예약 가능 : ■, 예약 불가 : □')
#1. i
#2. seats[i]
#3. j
#4. seats[i][j]

  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  ■  ■  ■  □  □  □  □  □  ■  □
  □  □  □  □  □  ■  □  □  □  □
  □  ■  □  □  □  ■  □  ■  □  □
  □  □  □  □  □  □  ■  □  □  □
  ■  □  ■  □  □  □  □  □  □  ■

※ 예약 가능 : ■, 예약 불가 : □

In [47]:
a=[1,2,3,4,5]
print(range(len(a)))

range(0, 5)