In [11]:
# eng score=90
# 7font='굴림'
x = 3.3764
y = 6/2
z = 6//2
print(x, y, z)
print(type(x), type(y),type(z))

3.3764 3.0 3
<class 'float'> <class 'float'> <class 'int'>

In [29]:
a = 10 
b = 20
c = a + b * 10 - 5 / 5 
print(c)

209.0

In [27]:
x = 20 
y = 4
x = y % x 
print(x)
y -= x * 2 
print(x, y)

4
4 -4

In [31]:
a = '쥐 구멍에 볕 들 날 있다.' 
b = len(a)
print(b)

15

In [39]:
eng = 80
# result = '영어 점수 : ' + eng + '점' 
print('영어 점수 : ', eng, '점')

영어 점수 :  80 점

In [41]:
eng = 80
result = '영어 점수 : ' + str(eng) + '점' 
print(result)

영어 점수 : 80점

In [63]:
name = '김수영'
age=26
height=170.345
a = '나는 %s 입니다. 나이는 %d이고 키는 %.3f입니다.' % (name, age, height)
print(a)

나는 김수영 입니다. 나이는 26이고 키는 170.345입니다.

In [65]:
name = '황예린' 
age = 18 
eyesight = 1.2
a = '이름 : {}'.format(name) 
b = '나이 : {}세'.format(age) 
c = '시력 : {}'.format(eyesight)
print(a)
print(b)
print(c)

이름 : 황예린
나이 : 18세
시력 : 1.2

In [67]:
score1 = 80 
score2 = 87
sum = score1 + score2 
avg = sum/2
print('두 과목 점수 : %d, %d' % (score1, score2)) 
print('합계 : %d, 평균 : %.2f' % (sum, avg))

두 과목 점수 : 80, 87
합계 : 167, 평균 : 83.50

In [71]:
year = 2020 
month = 3 
day = 5
print(year, month, day, sep='/')

2020/3/5

In [77]:
a = '안녕하세요.' 
b = '반갑습니다.'

print(a)
print(b)

print('\n\n')

print(a, end='')
print(b)

안녕하세요.
반갑습니다.



안녕하세요.반갑습니다.

In [79]:
name = input('이름을 입력하세요 : ') 
print('%s님 반갑습니다.' % name)

이름을 입력하세요 :  이

이님 반갑습니다.

In [81]:
a= input('첫번쨰 숫자 입력')
b= input('두번쨰 숫자 입력')
c= int(a) + int(b)
d= a+ b #= '1'+'2'

print(c)
print(d)

첫번쨰 숫자 입력 1
두번쨰 숫자 입력 2

3
12

In [85]:
inch = float(input('인치(inch)를 입력하세요 : ')) 
cm = inch * 2.54
print('센티미터 : %.2f' % cm)

인치(inch)를 입력하세요 :  30

센티미터 : 76.20

In [91]:
# 파일명 : ex2-35.py 
"""
프로그램명 : 두 수 더하기 
작성자 : 홍길동
작성일 : 2021.9.20
"""
a = 10             # 변수 a에 10 저장
b = 20             # 변수 b에 20 저장
c = a + b          # 두 수를 더해 변수 c에 저장 
# 결과를 출력한다.
print(c)

30

In [93]:
a = 100             # 변수 a에 100 저장
b = 200             # 변수 b에 200 저장
c = a + b          # 두 수를 더해 변수 c에 저장 
# 결과를 출력한다.
print(c)

300

In [97]:
width  = 10 
height = 3
area = width* height / 2
print('삼각형의 밑변 길이 :', width) 
print('삼각형의 높이 :', height) 
print('삼각형의 면적 :',area)

삼각형의 밑변 길이 : 10
삼각형의 높이 : 3
삼각형의 면적 : 15.0

In [101]:
width  = 10 
height = 3
area = width* height*0.5
print('삼각형의 밑변 길이 :', width) 
print('삼각형의 높이 :', height) 
print('삼각형의 면적 :',area)

삼각형의 밑변 길이 : 10
삼각형의 높이 : 3
삼각형의 면적 : 15.0

In [105]:
price = 800 
buy = 3 
pay = 5000
change= pay - price * buy
print('물건가격 :', price, '원')
print('구개개수 :', buy, '개')
print('지불금액 :', pay, '원')
print('거스름돈 :', change, '원')

물건가격 : 800 원
구개개수 : 3 개
지불금액 : 5000 원
거스름돈 : 2600 원

In [107]:
# 거스름돈 구하기 및 거스름돈 줄이기 알고리즘(그리디 알고리즘 = 탐욕 알고리즘)
# 큰 단위 부터 사용

In [115]:
name = "홍길동" 
age = 30
height = 171.5
print('성 :', name[0])
print('이름 :', name[1:])
print("%s의 나이 : %d세, 키 : %.1fcm" % (name, 
age, height))

성 : 홍
이름 : 길동
홍길동의 나이 : 30세, 키 : 171.5cm

In [127]:
name = input('학생 이름을 입력하세요 :') 
kor = int(input('국어  성적을 입력하세요 :')) 
eng = int(input('영어  성적을 입력하세요 :'))
math = int(input('수학  성적을 입력하세요 :'))
total = kor + eng + math 
avg = total / 3 # *0.333333
print('이름:%s, 국어:%d, 영어:%d,수학:%d, 평균:%.1f 점' % (name, kor, eng, math, avg))

학생 이름을 입력하세요 : 1
국어  성적을 입력하세요 : 1
영어  성적을 입력하세요 : 1
수학  성적을 입력하세요 : 1

이름:1, 국어:1, 영어:1,수학:1, 평균:1.0 점

In [133]:
x = int(input('숫자를 입력하세요 : ')) 
if x > 0 :
    print('양수!') 
else :
    print('0 또는 음수!')

print('조건 제어문의 대표적인 명령은 if문 입니다')

숫자를 입력하세요 :  33

양수!
조건 제어문의 대표적인 명령은 if문 입니다

In [137]:
num = int(input('숫자를 입력하세요 : ')) 
if num % 2 == 0 :
    print('짝수이다.') 
else :
    print('홀수이다.')

숫자를 입력하세요 :  5

홀수이다.

In [139]:
#7의 배수
num = int(input('숫자를 입력하세요 : ')) 
if num % 7 == 0 :
    print('7의 배수이다.') 
else :
    print('7의 배수가 아니다.')

숫자를 입력하세요 :  7

7의 배수이다.

In [155]:
#3의 배수 & 7의 배수
num = int(input('숫자를 입력하세요 : ')) 
if num % 3 == 0 and num % 7 == 0 :
    print(num)
else :
    print(num, '은 3과 7의 공배수가 아님')
print(not num)

숫자를 입력하세요 :  28

28 은 3과 7의 공배수가 아님
False

In [159]:
id = input('아이디를 입력하세요 : ')
level = int(input('회원 레벨을 입력하세요 : ')) 
if id == 'admin' or level == 1 :
    print('관리자이다.') 
else :
    print('관리자가 아니다.')

아이디를 입력하세요 :  11
회원 레벨을 입력하세요 :  1

관리자이다.

In [169]:
name = input('이름을 입력하세요 : ') 
if not name :
    print('이름이 입력되지 않았다.') 
else :
    print('이름 : %s' % name)

이름을 입력하세요 :

이름이 입력되지 않았다.

In [189]:
age = int(input('나이를 입력하세요 : ')) 
pay = '3000원'
if age >= 65 or age < 7 : 
    pay = '무료'
print('입장료 : %s' % pay)

나이를 입력하세요 :  18

입장료 : 3000원

In [201]:
# 7미만 65이상 무료
# 7-18 1000원
# 19-64 3000원
age = int(input('나이 입력: '))
if age >= 65 or age < 7 : 
    pay = '무료'
elif age>=7 and age<=18 : # 7<= age <= 18
    pay = '1000원'
else:
    pay = '3000원'
print('입장료: %s'% pay)

나이 입력:  17

입장료: 1000원

In [231]:
pw = int(input('5자리 비밀번호 입력'))
pwd = 12345
if pw == pwd :
    print('비밀번호 Ok')
else :
    print('비밀번호 Not ok')
# --------------------------------------
pw = input('5자리 비밀번호 입력')
pwd = '12345'
if pw == pwd : #(java는 ==이 아님)
    print('비밀번호 Ok')
else :
    print('비밀번호 Not ok')

5자리 비밀번호 입력 12345

비밀번호 Ok

5자리 비밀번호 입력 12345

비밀번호 Ok

In [273]:
month = int(input('월을 입력하세요 : '))

if month >= 3 and month <= 5 :    
    print('%d월은 봄입니다.' % month) 
if month >= 6 and month <= 8 :    
    print('%d월은 여름입니다.' % month) 
if month >= 9 and month <= 11 :    
    print('%d월은 가을입니다.' % month)
if month == 12 or month == 1 or month == 2 :  
    print('%d월은 겨울입니다.' % month)

월을 입력하세요 :  4

4월은 봄입니다.

In [271]:
sum = 0
for i in range(1, 11) :
    sum += i
print('i의 값 : %d, 합계 : %d' % (i, sum))

i의 값 : 10, 합계 : 55

In [269]:
num = int(input('합계를 구할 최종값을 입력'))
#알고리즘 1
sum = 0
for i in range(1, num+1) :
    sum += i # sum = sum + i
print('1~', i, '까지 합계 : %d' % sum)

합계를 구할 최종값을 입력 1241

1~ 1241 까지 합계 : 770661

In [283]:
num = int(input('합계를 구할 최종값을 입력'))
#알고리즘 2
sum = num*(num+1)*0.5 #시그마 공식 1~n  합계 n(n+1)/2
print('1~', num, '까지 합계 : %d' % sum)

합계를 구할 최종값을 입력 10

1~ 10 까지 합계 : 55

In [367]:
#q3-2
# 좌석 종류를 입력해 주세요(1:일반실, 2:특실) : 1 
# 일반실입니다.
a = input('좌석 종류를 입력해 주세요(1:일반실, 2:특실) : ') 
seat1 = '일반실'
seat2 = '특실'
if a == '1' :  
    print('%s입니다.' % seat1)
if a == '2' :  
    print('%s입니다.' % seat2)
#1. if
#2. '1'
#3. '2'

좌석 종류를 입력해 주세요(1:일반실, 2:특실) :  1

일반실입니다.

In [297]:
# Q3-3
a = int(input('숫자를 입력'))
if a%5 == a%4 == 0 :
    print(a, '4,5의  공배수')
elif a%4 == 0 :
    print(a, '4의 배수')
elif a%5 == 0:
    print(a, '5의 배수')
else:
    print('a은', '4,5의 배수가 아님')

숫자를 입력 16

16 4의 배수

In [305]:
# q3-4
# 영어 알파벳을 입력 : w , w는 자음

char = input('영어 알파벳을 입력하세요 : ') 
char2 = char.upper() #.lower(소문)
if char2 == 'A' or char2 == 'E' or char2 == 'I' or char2 == 'O' or char2 == 'U' : #char2 in [A,E,I,O,U}   
    print('%s은(는) 모음이다.' % char) 
else : 
    print('%s은(는) 자음이다.' % char)
# 1. if 
# 2. or
# 3. char
# 4. else

영어 알파벳을 입력하세요 :  w

w은(는) 자음이다.

In [309]:
#q3-5
# 키를 입력해 주세요 : 175 
# 몸무게를 입력해 주세요 : 70
# ----------------------------- 
# 키 : 175cm 
# 몸무게 : 70kg 
# 딱 보기 좋습니다.

height = int(input('키를 입력해 주세요 : ')) 
weight = int(input('몸무게를  입력해 주세요 : ')) 
a = (height - 100) * 0.9;  
print('-' * 30) 
print('키 : %dcm' % height)
print('몸무게 : %dkg' % weight)
if weight > a : 
    print('딱 보기 좋습니다.') 
else : 
    print('표준(또는 마른) 체형입니다.') 
print('-' * 30)

#1. height
#2. weight
#3. if
#4. a
#5. else

키를 입력해 주세요 :  175
몸무게를  입력해 주세요 :  70

------------------------------
키 : 175cm
몸무게 : 70kg
딱 보기 좋습니다.
------------------------------

In [315]:
#q3-6
# 물건 구매가를 입력하세요 : 60000 
# 구매가 : 60000원
# 할인율 : 7.5% 
# 할인 금액 : 4500원 
# 지불 금액 : 55500원
buy = int(input('물건 구매가를 입력하세요 : ')) 
if buy >= 10000 and buy < 50000 :      
    rate = 5 
elif buy >= 50000 and buy < 300000 :       
    rate = 7.5 
elif buy >= 300000 :       
    rate = 10 
else : 
    rate = 0 
discount = buy * rate / 100 
pay = buy - discount 
print('구매가 : %.0f원' % buy) 
print('할인율 : %.1f%%' % rate) # %%(%출력) 
print('할인 금액 : %.0f원' % discount) 
print('지불 금액 : %.0f원' % pay)
#1.if
#2. elif
#3. else
#4. discount
#5. pay

물건 구매가를 입력하세요 :  60000

구매가 : 60000원
할인율 : 7.5%
할인 금액 : 4500원
지불 금액 : 55500원

In [321]:
#q3-7
# 첫 번째 정수를 입력하세요 : 34
# 두 번째 정수를 입력하세요 : 33
# 세 번째 정수를 입력하세요 : 27
# 입력된 세 수 34, 33, 27 중에서 가장 큰 수는 
# 34 입니다.
num1 = int(input('첫 번째 정수를 입력하세요 : ')) 
num2 = int(input('두 번째 정수를 입력하세요 : ')) 
num3 = int(input('세 번째 정수를 입력하세요 : ')) 
if (num1 >= num2) and (num1 >= num3) :       
    largest = num1 
elif (num2 >= num1) and (num2 >= num3) :       
    largest = num2 
else : 
    largest = num3 
print('입력된 세 수 %d, %d, %d 중에서 가장 큰 수는 %d 입니다.' % (num1, num2, num3, largest))
#1. if
#2. elif
#3. else
#4. largest

첫 번째 정수를 입력하세요 :  34
두 번째 정수를 입력하세요 :  33
세 번째 정수를 입력하세요 :  27

입력된 세 수 34, 33, 27 중에서 가장 큰 수는 34 입니다.

In [12]:
#q3-8
# 서비스 만족도 : 
# 1: 매우만족
# 2: 만족
# 3: 불만족 서비스
# 만족도를 입력해주세요(예: 1 또는 2 또는 3) : 2 
# 음식값을 입력해 주세요(예:8000) : 9000 
# 서비스 만족도 : 만족,
# 팁 : 900원
# 생략
a = input('서비스 만족도:\n1. 매우만족\n2. 만족 \n3. 불만족\n서비스  만족도를 입력해주세요(예: 1 또는 2 또는 3) : ') 
price = int(input('음식값을  입력해 주세요(예:8000) : ')) 
if a == '1' : 
    tip = int(price * 0.2)     
    service = '매우 만족'
elif a == '2' :
    tip = int(price * 0.1)     
    service = '만족'
else :   
    tip = int(price * 0.05)     
    service = '불만족'
print()
print('서비스 만족도 : %s, 팁 : %d원' % (service, tip))
#1. a =='1'
#2. a =='2'
#3. service
#4. tip

서비스 만족도:
1. 매우만족
2. 만족
3. 불만족
서비스  만족도를 입력해주세요(예: 1 또는 2 또는 3) :  2
음식값을  입력해 주세요(예:8000) :  9000

서비스 만족도 : 만족, 팁 : 900원

In [405]:
#q4-1
# 시작 수를 입력하세요 : 100 끝 수를 입력하세요 : 200 
# -------------------------------------------------
# 100에서 200까지 5의 배수가 아닌 수의 합계 : 12000
n1 = int(input('시작 수를 입력하세요 : ')) 
n2 = int(input('끝 수를 입력하세요 : '))
sum = 0 
for i in range(n1, n2+1) :  
    if i%5 !=  0 :    
        sum  += i # += (sum = sum+i) 같다가 아니라 우측 값을 왼쪽 변수에 넣는다
print('-' * 50) 
print('%d에서 %d까지 5의 배수가 아닌 수의 합계 : %d' % (n1, n2, sum))
#1. n2+1
#2. !=
#3. sum
#4. n1
#5. n2
#6. sum

시작 수를 입력하세요 :  100
끝 수를 입력하세요 :  200

--------------------------------------------------
100에서 200까지 5의 배수가 아닌 수의 합계 : 12000

In [403]:
#q4-2
# 하이픈(-)을 포함한 휴대폰 번호를 입력하세요: 010-1234-5678
# 01012345678
number = input('하이픈(-)을 포함한 휴대폰 번호를 입력하세요: ') 
for x in number : 
    if x != '-' : 
        print('%s' % x, end='')
#1. number
#2. !=
#3. end

하이픈(-)을 포함한 휴대폰 번호를 입력하세요:  010-1234-1234

01012341234

In [413]:
#q4-3
# 하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요: 01033334444 
# 010-3333-4444
phone = input('하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요: ') 
number = '' 
for i in range(0, 11) :  # len(phone)
    if i ==  2: 
        number = number + (phone[2]+'-') 
    elif i == 6 :
        number = number + (phone[6]+'-') 
    else :     
        number = number + phone[i]
print(number)
#1. 11
#2. 2
#3. 6

하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요:  01033334444

010-3333-4444

In [443]:
#q4-4
# ------------------------------------------------- 
# 센티미터(cm) 인치(inch)   피트(ft)    야드(yd) 
# ------------------------------------------------- 
#   10        3.9        0.3         0.1     
#   20        7.9        0.7         0.2    
#   30       11.8        1.0         0.3    
#   ...
#   190      74.8        6.2         2.1    
#   200      78.7        6.6         2.2 
# --------------------------------------------------
print('-' * 50) 
print('센티미터(cm) 인치(inch)   피트(ft)   야드(yd)') 
print('-' * 50) 
for cm in range(10, 201, 10)  :
    inch = cm * 0.393701    
    ft = cm * 0.032808 
    yd = cm * 0.010936    
    print('%8d  %10.1f %10.1f  %10.1f' % (cm, inch, ft, yd))       
print('-' * 50)
#1. cm
#2. range
#3. :

--------------------------------------------------
센티미터(cm) 인치(inch)   피트(ft)   야드(yd)
--------------------------------------------------
      10         3.9        0.3         0.1
      20         7.9        0.7         0.2
      30        11.8        1.0         0.3
      40        15.7        1.3         0.4
      50        19.7        1.6         0.5
      60        23.6        2.0         0.7
      70        27.6        2.3         0.8
      80        31.5        2.6         0.9
      90        35.4        3.0         1.0
     100        39.4        3.3         1.1
     110        43.3        3.6         1.2
     120        47.2        3.9         1.3
     130        51.2        4.3         1.4
     140        55.1        4.6         1.5
     150        59.1        4.9         1.6
     160        63.0        5.2         1.7
     170        66.9        5.6         1.9
     180        70.9        5.9         2.0
     190        74.8        6.2         2.1
     200        78.7        6.6         2.2
--------------------------------------------------

In [439]:
#q4-5
# --------------------------------------- 
# 킬로그램(kg) 파운드(lb)   온스(oz) 
# ---------------------------------------
# 10    22.0      352.7
# 15    33.1      529.1
# 20    44.1      705.5
# ...
# 95    209.4     3351.0
# 100   220.5     3527.4 
# ---------------------------------------
print('-' * 40) 
print('킬로그램(kg) 파운드(lb)   온스(oz)') 
print('-' * 40) 
for kg in range(10, 101, 5) :     
    lb = kg * 2.204623    
    oz = kg * 35.273962    
    print('%8d  %10.1f %10.1f' % (kg, lb, oz)) 
print('-' * 40)
#1. lb
#2. kg
#3. oz

----------------------------------------
킬로그램(kg) 파운드(lb)   온스(oz)
----------------------------------------
      10        22.0      352.7
      15        33.1      529.1
      20        44.1      705.5
      25        55.1      881.8
      30        66.1     1058.2
      35        77.2     1234.6
      40        88.2     1411.0
      45        99.2     1587.3
      50       110.2     1763.7
      55       121.3     1940.1
      60       132.3     2116.4
      65       143.3     2292.8
      70       154.3     2469.2
      75       165.3     2645.5
      80       176.4     2821.9
      85       187.4     2998.3
      90       198.4     3174.7
      95       209.4     3351.0
     100       220.5     3527.4
----------------------------------------

In [455]:
#q4-6
# 숫자를 입력하세요 : 3049894 
# 입력된 숫자 중 홀수의 개수 : 3개
number = input('숫자를 입력하세요 : ') 
total = 0
for a in number :    
    a = int(a)    
    if a%2  == 1 :    
        total +=  1  #개수니까 1개씩
print('입력된 숫자 중 홀수의 개수 : %d개' % total)
#1. 0
#2. a%2
#3. +=

숫자를 입력하세요 :  304984

입력된 숫자 중 홀수의 개수 : 2개

In [515]:
#q4-7
# *
# **
# ***
# ****
# *****
# ******
# *******
# ********
# *********
# **********
for i in range(1,11) :
    #print(i, end = "")
    for j in range(1,i+1) :  
        print("*", end='')   
    print()
#1. i+1
#2. ''

1*
2**
3***
4****
5*****
6******
7*******
8********
9*********
10**********

In [541]:
#q4-8
#          * 
#         ** 
#        *** 
#       **** 
#      ***** 
#     ****** 
#    ******* 
#   ******** 
#  ********* 
# **********
for i in range(1,11) : 
    for j in range(1, 11-i) :   
        print(' ', end='')    
    for k in range(1, i+1) :   
        print('*', end='')    
    print()
#1. 11-i
#2. i+1

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [575]:
for i in range(1,11) :
    print("i는", i, end = " / ")

    print("j=", end = " ")
    for j in range(1, 11-i) :   
        print(j, end = "")
    print(" / ", end = "")
    print("k=", end = " ")
    for k in range(1, i+1) :   
        print(k, end = "")    
    
    print()
print("i도 끝났어요.")

i는 1 / j= 123456789 / k= 1
i는 2 / j= 12345678 / k= 12
i는 3 / j= 1234567 / k= 123
i는 4 / j= 123456 / k= 1234
i는 5 / j= 12345 / k= 12345
i는 6 / j= 1234 / k= 123456
i는 7 / j= 123 / k= 1234567
i는 8 / j= 12 / k= 12345678
i는 9 / j= 1 / k= 123456789
i는 10 / j=  / k= 12345678910
i도 끝났어요.